<footer class="footer">
    <div class="mbox">
        <div class="footer__top">
            <div class="footer__logo">
                <svg>
                    <use xlink:href="#transparent-logo-ico"></use>
                </svg>
                <div class="footer__apps">
                    <a href="#" class="footer__apps-btn">
                        <svg>
                            <use xlink:href="#ios-app-ico"></use>
                        </svg>
                        <span>App Store</span>
                    </a>
                    <a href="#" class="footer__apps-btn">
                        <svg>
                            <use xlink:href="#android-app-ico"></use>
                        </svg>
                        <span>Google Play</span>
                    </a>
                </div>
            </div>
            <div class="footer__nav">
                <div class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Услуги</a>
                    <div class="footer__subnav">
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                    </div>
                </div>
                <div class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Тарифы</a>
                    <div class="footer__subnav">
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                    </div>
                </div>
                <div class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Эквайринг</a>
                    <div class="footer__subnav">
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                    </div>
                </div>
                <div class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Информация</a>
                    <div class="footer__subnav">
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                    </div>
                </div>
                <div class="footer__nav-item">
                    <a href="#" class="footer__nav-link">О банке</a>
                    <div class="footer__subnav">
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                        <a href="" class="footer__subnav-item">Подраздел</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__middle">
            <div class="footer__links">
                <div class="footer__link">
                    <a href="#">Филиал «ПростоБанк» Банка «КУБ» (АО)</a>
                    <p>123317, г. Москва. Пресненская набережная, д.6, стр.2.</p>
                </div>
                <div class="footer__link">
                    <a href="#">Банк «КУБ» (АО), Группа Газпромбанка</a>
                    <p>ген. лицензия ЦБ РФ № 2584 от 15.09.2015г.</p>
                </div>
                <div class="footer__link">
                    <a href="#">Политика обработки персональных данных</a>
                </div>
                <div class="footer__link">
                    <a href="#">Согласие на обработку персональных данных</a>
                </div>
            </div>
            <div class="footer__info">
                <div class="footer__phone">
                    <span>Служба поддержки:</span>
                    <a href="tel:+88005505137">8 800 550-51-37</a>
                </div>
                <div class="footer__time">
                    <span>пн-пт: 7:00—17:00</span>
                    <span>сб-вс: выходной</span>
                </div>
                <div class="footer__socials">
                    <a href="#" class="footer__social">
                        <svg>
                            <use xlink:href="#footer-facebook-ico"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__social">
                        <svg>
                            <use xlink:href="#footer-vk-ico"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__social">
                        <svg>
                            <use xlink:href="#footer-instagram-ico"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__labels">
                <a href="#" class="footer__label">
                    <img src="./images/footer-label-1.png" alt="">
                </a>
                <a href="#" class="footer__label">
                    <img src="./images/footer-label-2.png" alt="">
                </a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copyright">© 2006—2020, АО «Просто|Банк», официальный сайт, лицензия ЦБ РФ № хххххх</div>
            <div class="footer__dev">
                <img src="./images/footer-dev.png" alt="">
            </div>
        </div>
    </div>
</footer>
<div class="gototop">
    <div class="gototop__inner">
        <div id="scrollToTopBtn" class="gototop__btn"></div>
    </div>
</div>
<div class="popups">
    <div class="popups__content">
        <div id="auth-popup" class="popup">
            <div class="popup__close" data-fancybox-close></div>
            <div class="popup__title title">Войти как</div>
            <div class="popup__auth">
                <a href="#" class="btn btn--border btn--blue">Физическое лицо</a>
                <a href="#" class="btn btn--border btn--green">Юридическое лицо</a>
            </div>
        </div>
        <div id="fast-open-account" class="popup">
            <div class="popup__close" data-fancybox-close></div>
            <div class="popup__title title">Откройте счёт за 10 минут</div>
            <div class="popup__subtitle">и принимайте платежи сразу</div>
            <form class="callback__form">
                <div class="callback__input">
                    <input type="text" class="tel-mask" name="user-phone" required placeholder="Телефон" aria-required="true">
                </div>
                <div class="callback__btn">
                    <button type="submit" class="btn btn--border btn--blue">Перезвоните мне</button>
                </div>
            </form>
            <div class="popup__btn popup__btn--full">
                <a href="#open-account" class="btn-custom btn-custom--blue" data-fancybox>Заполнить анкету</a>
            </div>
            <div class="popup__alert">
                <span>Ввод номера телефона подтверждает ваше согласие на <a href="#">обработку персональных данных</a></span>
            </div>
        </div>
        <div id="open-account" class="popup">
            <div class="popup__close" data-fancybox-close></div>
            <div class="popup__title title">Заявка на открытие счета</div>
            <div class="popup__subtitle">Заполните информацию</div>
            <form class="popup__form">
                <div class="popup__field">
                    <input type="text" name="user-phone" placeholder="Телефон" required>
                </div>
                <div class="popup__field">
                    <input type="text" name="user-inn" placeholder="ИНН" required>
                </div>
                <div class="popup__field">
                    <input type="email" name="user-email" placeholder="Электронная почта" required>
                </div>
                <div class="popup__field">
                    <div class="select">
                        <select class="js-select-2" required name="user-city">
                            <option value="">Выбор города</option>
                            <option value="">Выбор города</option>
                            <option value="">Выбор города</option>
                            <option value="">Выбор города</option>
                            <option value="">Выбор города</option>
                            <option value="">Выбор города</option>
                            <option value="">Выбор города</option>
                            <option value="">Выбор города</option>
                            <option value="">Выбор города</option>
                            <option value="">Выбор города</option>
                        </select>
                    </div>
                </div>
                <div class="popup__confirm">
                    <div class="popup__accept">
                        <label>
                            <input type="checkbox" class="checkbox" required name="user-accept">
                            <span class="checkbox-fake"></span>
                            <span class="popup__accept-text">Я подтверждаю согласие с <a href="">условиями передачи
                                информации</a></span>
                        </label>
                    </div>
                    <div class="popup__confirm-btn">
                        <button class="btn-custom btn-custom--blue">Отправить</button>
                    </div>
                </div>
                <div class="popup__bottom">
                    <div class="popup__bottom-title">Не нашли ответ на свой вопрос?</div>
                    <div class="popup__bottom-subtitle">Задайте его нам по телефону</div>
                    <div class="popup__bottom-btn">
                        <a href="#fast-open-account" data-fancybox class="btn-custom btn-custom--blue">Заказать
                            звонок</a>
                    </div>
                </div>
            </form>
        </div>
        <div id="fast-open-account-success" class="popup">
            <div class="popup__close" data-fancybox-close></div>
            <div class="popup__title title">Мы перезвоним вам в течении 10 минут</div>
            <div class="popup__subtitle">Проконсультируем и поможем октрыть счет</div>
            <div class="popup__auth">
                <a href="#" data-fancybox-close class="btn btn--border btn--blue">Готово</a>
            </div>
        </div>
        <div id="open-account-success" class="popup">
            <div class="popup__close" data-fancybox-close></div>
            <div class="popup__title title">Мы перезвоним вам, как только заявка будет обработана</div>
            <div class="popup__subtitle">Проконсультируем и поможем октрыть счет</div>
            <div class="popup__auth">
                <a href="#" data-fancybox-close class="btn btn--border btn--blue">Готово</a>
            </div>
        </div>
    </div>
</div>