<header class="header">
    <div class="mbox">
        <div class="header__inner">
            <a href="index.html" class="header__logo">
                <svg>
                    <use xlink:href="#color-logo-ico"></use>
                </svg>
            </a>
            <div class="header__middle">
                <div class="header__top">
                    <div class="header__atm">
                        <svg>
                            <use xlink:href="#point-ico"></use>
                        </svg>
                        <span>Банкоматы</span>
                    </div>
                    <div class="header__top-box">
                        <div class="header__eye">
                            <svg>
                                <use xlink:href="#eye-ico"></use>
                            </svg>
                        </div>
                        <div class="header__search">
                            <div class="header__search-link js-header-search">
                                <svg>
                                    <use xlink:href="#search-ico"></use>
                                </svg>
                            </div>
                            <form class="header__search-inner">
                                <input type="text">
                                <button class="header__search-link">
                                    <svg>
                                        <use xlink:href="#search-ico"></use>
                                    </svg>
                                </button>
                            </form>
                        </div>
                        <div class="header__mobmenu active">
                            <div class="hamburger hamburger3">
                                <span class="bar bar1"></span>
                                <span class="bar bar2"></span>
                                <span class="bar bar3"></span>
                                <span class="bar bar4"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__bottom">
                    <a href="tel:+88005505137" class="header__phone">8 800 550-51-37</a>
                    <div class="header__socials">
                        <a href="#" class="header__social">
                            <svg>
                                <use xlink:href="#facebook-ico"></use>
                            </svg>
                        </a>
                        <a href="#" class="header__social">
                            <svg>
                                <use xlink:href="#vk-ico"></use>
                            </svg>
                        </a>
                        <a href="#" class="header__social">
                            <svg>
                                <use xlink:href="#instagram-ico"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="header__nav">
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link">Акции</a>
                    </div>
                    <div class="header__nav-item header__nav-item--is-submenu">
                        <a href="#" class="header__nav-link">Предпринимателям</a>
                        <div class="header__subnav">
                            <a href="#" class="header__subnav-item header__subnav-item--bold">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                        </div>
                    </div>
                    <div class="header__nav-item header__nav-item--is-submenu">
                        <a href="#" class="header__nav-link">Физическим лицам</a>
                        <div class="header__subnav">
                            <a href="#" class="header__subnav-item header__subnav-item--bold">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                        </div>
                    </div>
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link">Партнерам</a>
                    </div>
                    <div class="header__nav-item header__nav-item--is-submenu">
                        <a href="#" class="header__nav-link">О банке</a>
                        <div class="header__subnav">
                            <a href="#" class="header__subnav-item header__subnav-item--bold">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                        </div>
                    </div>
                    <div class="header__nav-item header__nav-item--is-submenu">
                        <a href="#" class="header__nav-link">Еще</a>
                        <div class="header__subnav">
                            <a href="#" class="header__subnav-item header__subnav-item--bold">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                            <a href="#" class="header__subnav-item">Предпринимателям</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__personal">
                <a href="#" class="btn btn--blue btn--border"><span>Личный кабинет</span><span>Войти</span></a>
            </div>
            <div class="header__mobmenu">
                <div class="hamburger hamburger3">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                    <span class="bar bar4"></span>
                </div>
            </div>
            <div class="header__shadow"></div>
        </div>
    </div>
</header>
