//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <section class="page-banner">
            <div class="page-banner__inner">
                <div class="page-banner__row">
                    <div class="mbox">
                        <div class="page-banner__left">
                            <div class="page-banner__content">
                                <h1 class="main-title page-banner__title">Надежный банк</h1>
                                <div class="page-banner__subtitle">Группа Газпромбанка</div>
                                <div class="page-banner__desc">Просто|Банк создан на инфраструктуре Банка «КУБ» (АО), входящего в Группу Газпромбанка, с использованием современных технологий. Это позволяет нашим клиентам получать все преимущества крупного банка с удобством технологичных сервисов.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-banner__img">
                    <img src="images/about-banner.png" alt="">
                    <img src="images/page-banner-mobile.png" alt="">
                </div>
            </div>
        </section>
        <section class="privilege">
            <div class="mbox">
                <div class="privilege__inner">
                    <h2 class="privilege__title title">Надёжный банк</h2>
                    <div class="privilege__subtitle">Лучшие возможности для бизнеса</div>
                    <div class="privilege__terms">
                        <div class="privilege__head">
                            <img src="images/privilege-head-img.png" alt="">
                        </div>
                        <div class="privilege__line">
                            <div class="privilege__line-item">
                                <div class="privilege__line-text">26</div>
                                <div class="privilege__line-desc">лет опыта</div>
                            </div>
                            <div class="privilege__line-item">
                                <div class="privilege__line-text">ТОП-3</div>
                                <div class="privilege__line-desc">крупнейших банковских групп</div>
                            </div>
                            <div class="privilege__line-item">
                                <div class="privilege__line-text">ruA+</div>
                                <div class="privilege__line-desc">рейтинг кредитоспособности</div>
                            </div>
                            <div class="privilege__line-item">
                                <div class="privilege__line-img">
                                    <img src="images/privilege-line-img.svg" alt="">
                                </div>
                                <div class="privilege__line-desc">средства на счетах ИП застрахованы</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="privilege privilege--left privilege--slider">
            <div class="mbox">
                <div class="privilege__inner">
                    <h2 class="privilege__title title">Преимущества расчётного счёта</h2>
                    <div class="privilege__row">
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <img src="images/privilege-ico-4.svg" alt="">
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Нет отделений и очередей</div>
                                <div class="privilege__desc-info">Управлять своими финансами можно через мобильное приложение, сайт или просто по телефону. Карту наш представитель привезет в любое удобное вам место</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <img src="images/privilege-ico-7.svg" alt="">
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Всегда на связи</div>
                                <div class="privilege__desc-info">Отвечаем на звонки и сообщения круглосуточно. Даже утром первого января</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <img src="images/terms-ico-4.svg" alt="">
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Помогаем сразу</div>
                                <div class="privilege__desc-info">Почти все проблемы решаются уже при первом обращении. Просто|Банк уважает время своих клиентов</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-block service-block--use">
            <div class="mbox">
                <div class="service-block__row border border--1">
                    <div class="service-block__img-wrap">
                        <div class="service-block__img">
                            <img src="images/use-img.png" alt="">
                        </div>
                    </div>
                    <div class="service-block__content">
                        <h2 class="title service-block__title">Удобство в использовании</h2>
                        <div class="service-block__subtitle">Не тратьте время на освоение нового − все знакомо и просто в использовании:</div>
                        <div class="list service-block__list">
                            <div class="list__item">Простой интерфейс</div>
                            <div class="list__item">Оперативная информация по счету</div>
                            <div class="list__item">Любые платежи в один клик</div>
                            <div class="list__item">Простой интерфейс</div>
                            <div class="list__item">Оперативная информация по счету</div>
                            <div class="list__item">Любые платежи в один клик</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="advan-banner">
            <div class="mbox mbox--big">
                <div class="advan-banner__inner">
                    <div class="advan-banner__col">
                        <div class="advan-banner__title">26 лет строим
                            и развиваем
                            обслуживание</div>
                        <div class="privilege__line">
                            <div class="privilege__line-item">
                                <div class="privilege__line-text">23</div>
                                <div class="privilege__line-desc">городо с курьерской доставкой</div>
                            </div>
                            <div class="privilege__line-item">
                                <div class="privilege__line-text">415</div>
                                <div class="privilege__line-desc">банкоматов своих и партнерских</div>
                            </div>
                            <div class="privilege__line-item">
                                <div class="privilege__line-text">1000+</div>
                                <div class="privilege__line-desc">постоянный клиентов</div>
                            </div>
                        </div>
                    </div>
                    <div class="advan-banner__img">
                        <img src="images/advan-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="mbox">
                <div class="services__head">
                    <h2 class="services__head-title title">Только необходимые функции</h2>
                    <div class="services__head-subtitle">Все самое необходимое для вашего успеха</div>
                </div>
                <div class="services__inner services__slider">
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img">
                            <img src="images/services-img-04.png" alt="">
                        </div>
                        <h3 class="services__title">Расчетный счет</h3>
                        <div class="services__desc">Открытие, ведение счетов, интернет-банкинг</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img">
                            <img src="images/services-img-05.png" alt="">
                        </div>
                        <h3 class="services__title">Корпоративные карты</h3>
                        <div class="services__desc">Возможности для закупок, самоинкассация, оплата товаров и услуг по всему миру</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img label label--bank-sticker">
                            <img src="images/services-img-06.png" alt="">
                        </div>
                        <h3 class="services__title">Торговый эквайринг</h3>
                        <div class="services__desc">Установка современных терминалов, оперативное подключение и прием платежей 24/7</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img label label--green-sticker">
                            <img src="images/services-img-01.png" alt="">
                        </div>
                        <h3 class="services__title">Расчетный счет</h3>
                        <div class="services__desc">Открытие, ведение счетов, интернет-банкинг</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img">
                            <img src="images/services-img-02.png" alt="">
                        </div>
                        <h3 class="services__title">Корпоративные карты</h3>
                        <div class="services__desc">Возможности для закупок, самоинкассация, оплата товаров и услуг по всему миру</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img label label--bank-sticker">
                            <img src="images/services-img-03.png" alt="">
                        </div>
                        <h3 class="services__title">Торговый эквайринг</h3>
                        <div class="services__desc">Установка современных терминалов, оперативное подключение и прием платежей 24/7</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="in-city">
            <div class="mbox">
                <div class="in-city__inner">
                    <div class="in-city__row border border--1">
                        <div class="in-city__map">
                            <img src="images/map-img.png" alt="">
                        </div>
                        <div class="in-city__col">
                            <h2 class="in-city__title title">Города присутствия</h2>
                            <div class="in-city__desc">Вы можете открыть счет, подключить эквайринг и получить необходимые консультации в городах – Москва и Московской области, Санкт-Петербург и Ленинградской области, Волгоград, Воронеж, Екатеринбург, Иркутск, Казань, Кемерово, Красноярск, Краснодар, Набережные Челны, Нижний Новгород, Новосибирск, Омск, Пермь, Ростов-на-Дону, Самара, Саратов, Сургут, Тюмень, Уфа, Челябинск, Ярославль.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="questions">
            <div class="mbox">
                <div class="questions__inner border border--1">
                    <h2 class="title questions__title">Частые вопросы</h2>
                    <div class="questions__accord">
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">В каком банке будет открыт счёт?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">Что такое «Просто|Банк»?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">У меня есть счёт в другом банке. Что делать?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">Застрахованы ли средства на счете?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Оставьте заявку на открытие счета за 5 минут</h2>
                    <div class="request__subtitle">Заполните анкету и принимайте платежи</div>
                    <div class="request__btn">
                        <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                    </div>
                    <div class="request__decor">
                        <img src="images/decor/bank-sticker.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>