//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <section class="page-banner">
            <div class="page-banner__inner">
                <div class="page-banner__row">
                    <div class="mbox">
                        <div class="page-banner__left">
                            <div class="page-banner__content">
                                <h1 class="main-title page-banner__title">Торговый эквайринг</h1>
                                <div class="page-banner__desc">Это услуга для Торгово-Сервисных Предприятий (ТСП) по осуществлению приема платежных карт в качестве оплаты товаров и услуг магазинов, ателье,
                                    салонов красоты, курьерских доставок, химчисток, кафе, ресторанов и т.д.</div>
                            </div>
                            <div class="page-banner__btn">
                                <a href="" class="btn-custom btn-custom--blue">Открыть счет</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-banner__img">
                    <img src="images/acquiring-banner.png" alt="">
                    <img src="images/page-banner-mobile.png" alt="">
                </div>
            </div>
        </section>
        <section class="terms">
            <div class="mbox">
                <div class="terms__inner border border--1">
                    <h2 class="title terms__title">Торговый эквайринг</h2>
                    <div class="terms__slider-wrap">
                        <div class="terms__slider js-terms-slider">
                            <div class="terms__slide">
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <img src="images/terms-ico-1.svg" alt="">
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Предоставление терминала – бесплатно</div>
                                        <div class="terms__desc-info">не надо выкупать или платить абонентскую плату</div>
                                    </div>
                                </div>
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <img src="images/terms-ico-2.svg" alt="">
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Выгодный и понятный тариф</div>
                                        <div class="terms__desc-info">0% ставка при обработке операций оплаты, до 100 000 рублей в календарный месяц. При сумме операций более 100 000 рублей в календарный месяц ставка от 1,4% до 1,9% в зависимости от вида деятельности Клиента».</div>
                                    </div>
                                </div>
                            </div>
                            <div class="terms__slide">
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <img src="images/terms-ico-3.svg" alt="">
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Скорость зачисления</div>
                                        <div class="terms__desc-info">возмещения на счет клиента – на следующий рабочий день</div>
                                    </div>
                                </div>
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <img src="images/terms-ico-4.svg" alt="">
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Простой процесс подключения</div>
                                        <div class="terms__desc-info">подать заявку, получить Оферту, подписать и отправить скан документа, а оригинал передать инженеру при доставке терминала</div>
                                    </div>
                                </div>

                            </div>
                            <div class="terms__slide">
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <img src="images/terms-ico-5.svg" alt="">
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Скорость доставки терминала</div>
                                        <div class="terms__desc-info">не более 7 рабочих дней после получения Оферты от клиента</div>
                                    </div>
                                </div>
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <svg>
                                            <use xlink:href="#terms-ico-6"></use>
                                        </svg>
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Интеграции терминалов с кассами</div>
                                        <div class="terms__desc-info">возможна интеграция с кассами: Эвотор, Iiko, Сигма</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="connect">
            <div class="mbox">
                <div class="connect__inner">
                    <h2 class="title connect__title">Как подключить эквайринг</h2>
                    <div class="connect__content">
                        <div class="connect__row">
                            <div class="connect__item active">
                                <div class="connect__ico">
                                    <svg><use xlink:href="#connect-ico-1"></use></svg>
                                </div>
                                <div class="connect__item-title">Открытие счета</div>
                                <div class="connect__item-desc">Откроем расчётный счёт и подготовим документ</div>
                            </div>
                            <div class="connect__item">
                                <div class="connect__ico">
                                    <svg><use xlink:href="#connect-ico-2"></use></svg>
                                </div>
                                <div class="connect__item-title">Ждем курьера</div>
                                <div class="connect__item-desc">К вам приедет наш курьер с документами</div>
                            </div>
                            <div class="connect__item">
                                <div class="connect__ico">
                                    <svg><use xlink:href="#connect-ico-3"></use></svg>
                                </div>
                                <div class="connect__item-title">Принимаем платежи</div>
                                <div class="connect__item-desc">Все готово – можете принимать платежи</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tariffs">
            <div class="mbox">
                <div class="tariffs__inner">
                    <div class="tariffs__row">
                        <div class="tariffs__content">
                            <h2 class="title tariffs__title">Понятные тарифы</h2>
                            <div class="tariffs__subtitle">Без скрытых условий и навязанных услуг</div>
                            <div class="tariffs__desc">
                                <div class="tariffs__desc-item">Обслуживание</div>
                                <div class="tariffs__desc-item">Платежка</div>
                                <div class="tariffs__desc-item">Переводы физ.лицам в др. банки</div>
                                <div class="tariffs__desc-item">Переводы физ.лицам внутри Банка</div>
                                <div class="tariffs__desc-item">Снятие</div>
                                <div class="tariffs__desc-item">Зачисление на счет</div>
                            </div>
                        </div>
                        <div class="tariffs__slider-wrap">
                            <div class="tariff__slider-inner">
                                <div class="tariffs__slider">
                                    <div class="tariffs__slide tariffs__slide--blue border border--1 border--hover">
                                        <h3 class="tariffs__slide-title">Просто|Торговый</h3>
                                        <div class="tariffs__slide-subtitle">Бесплатный торговый эквайринг</div>
                                        <div class="tariffs__slide-desc">
                                            <div class="tariffs__slide-desc-info"><span>Обслуживание</span><span>Бесплатно по акции с 01.09.2020 по 31.12.2020</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Платежка</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам в др. банки</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам внутри Банка</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Снятие</span><span><span>от 1%</span>от суммы снятия</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Зачисление на счет</span><span>Бесплатно</span></div>
                                        </div>
                                        <div class="tariffs__slide-btn">
                                            <a href="" class="btn-custom btn-custom--blue">Открыть счет</a>
                                        </div>
                                    </div>
                                    <div class="tariffs__slide tariffs__slide--green border border--1 border--hover">
                                        <h3 class="tariffs__slide-title">Просто|Экономный</h3>
                                        <div class="tariffs__slide-subtitle">Отличное начало бизнеса</div>
                                        <div class="tariffs__slide-desc">
                                            <div class="tariffs__slide-desc-info"><span>Обслуживание</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Платежка</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам в др. банки</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам внутри Банка</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Снятие</span><span>Бесплатно до <span>1 500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Зачисление на счет</span><span><span>0,99%</span> от суммы зачисления</span></div>
                                        </div>
                                        <div class="tariffs__slide-btn">
                                            <a href="" class="btn-custom btn-custom--blue">Открыть счет</a>
                                        </div>
                                    </div>
                                    <div class="tariffs__slide tariffs__slide--blue border border--1 border--hover">
                                        <h3 class="tariffs__slide-title">Просто|Торговый</h3>
                                        <div class="tariffs__slide-subtitle">Бесплатный торговый эквайринг</div>
                                        <div class="tariffs__slide-desc">
                                            <div class="tariffs__slide-desc-info"><span>Обслуживание</span><span>Бесплатно по акции с 01.09.2020 по 31.12.2020</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Платежка</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам в др. банки</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам внутри Банка</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Снятие</span><span><span>от 1%</span>от суммы снятия</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Зачисление на счет</span><span>Бесплатно</span></div>
                                        </div>
                                        <div class="tariffs__slide-btn">
                                            <a href="" class="btn-custom btn-custom--blue">Открыть счет</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tariffs__pdf">
                        <a href="#">
                            <svg>
                                <use xlink:href="#pdf-ico"></use>
                            </svg>
                            <span>Полное описание тарифов</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="terms terms--general">
            <div class="mbox">
                <div class="terms__inner border border--1">
                    <h2 class="title terms__title">Общие условия</h2>
                    <div class="terms__slider-wrap">
                        <div class="terms__slider js-general-terms-slider">
                            <div class="terms__slide">
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <img src="images/general-terms-1.svg" alt="">
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Срок возмещения средств на счет клиента: T+1, но не позднее 2-го рабочего дня, после дня транзакции (в основном все зачисления должны будут проходить в период T+1 рабочий день)</div>
                                    </div>
                                </div>
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <img src="images/general-terms-2.svg" alt="">
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Подключение терминалов к интернету возможно по проводу (Ethernet, разъем RJ45), либо через Сим-карту (GSM), либо через Wi-Fi (при этом клиент самостоятельно обеспечивает подключение, подводит провод, настраивает WiFi или покупает и оплачивает Сим-карту)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="terms__slide">
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <img src="images/general-terms-3.svg" alt="">
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Принимаются карты платежных систем: VISA, MASTERCARD, МИР (операции по картам других платежных систем, включая Union Pay, American Express, JCB не пройдут)</div>
                                    </div>
                                </div>
                                <div class="terms__item">
                                    <div class="terms__ico">
                                        <img src="images/general-terms-4.svg" alt="">
                                    </div>
                                    <div class="terms__desc">
                                        <div class="terms__desc-title">Терминал предоставляется бесплатно, его не надо выкупать (при этом собственные терминалы клиентов не могут быть использованы)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="types">
            <div class="mbox">
                <div class="types__inner">
                    <h2 class="title types__title">Виды терминалов</h2>
                    <div class="types__box">
                        <div class="types__box-img">
                            <img src="images/terminal-types.png" alt="">
                        </div>
                        <div class="types__box-col">
                            <div class="types__box-title">Стационарный (Standalone)</div>
                            <div class="types__box-inner">
                                <div class="types__box-subtitle">Преимущества решения:</div>
                                <div class="types__box-list list">
                                    <div class="list__item">Бесперебойное подключение к интернету через Ethernet позволяет избегать обрывов связи и сложностей при приемы оплаты по картам</div>
                                    <div class="list__item">Простота в процессе установки, в большинстве случаев не требует подключения технических специалистов</div>
                                </div>
                                <div class="types__box-subtitle">Особенности решения:</div>
                                <div class="types__box-list list">
                                    <div class="list__item">Необходимость вводить сумму оплаты дважды: на кассе и отдельно на терминале</div>
                                    <div class="list__item">Необходимо наличие интернета на территории предприятия с выведенным кабелем Ethernet к месту подключения терминала</div>
                                    <div class="list__item">При выборе стационарного терминала с подключением к Интернету через GSM клиенту необходимо самостоятельно покупать СИМ-карту, следить за её балансом и своевременно оплачивать (расход по объему трафика – не более 100 Мб в месяц)</div>
                                    <div class="list__item">Для подключения через Wifi клиент должен знать логин и пароль от сети</div>
                                </div>
                                <div class="types__box-subtitle">Подключение к интернету с помощью:</div>
                                <div class="types__box-list list">
                                    <div class="list__item">Ethernet кабеля (провод от роутера)</div>
                                    <div class="list__item">СИМ-карты</div>
                                    <div class="list__item">WiFi</div>
                                </div>
                            </div>
                            <div class="types__box-btn">
                                <a href="#" class="btn-custom btn-custom--blue">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="types__box">
                        <div class="types__box-img">
                            <img src="images/terminal-types.png" alt="">
                        </div>
                        <div class="types__box-col">
                            <div class="types__box-title">Стационарный (Standalone)</div>
                            <div class="types__box-inner">
                                <div class="types__box-subtitle">Преимущества решения:</div>
                                <div class="types__box-list list">
                                    <div class="list__item">Бесперебойное подключение к интернету через Ethernet позволяет избегать обрывов связи и сложностей при приемы оплаты по картам</div>
                                    <div class="list__item">Простота в процессе установки, в большинстве случаев не требует подключения технических специалистов</div>
                                </div>
                                <div class="types__box-subtitle">Особенности решения:</div>
                                <div class="types__box-list list">
                                    <div class="list__item">Необходимость вводить сумму оплаты дважды: на кассе и отдельно на терминале</div>
                                    <div class="list__item">Необходимо наличие интернета на территории предприятия с выведенным кабелем Ethernet к месту подключения терминала</div>
                                    <div class="list__item">При выборе стационарного терминала с подключением к Интернету через GSM клиенту необходимо самостоятельно покупать СИМ-карту, следить за её балансом и своевременно оплачивать (расход по объему трафика – не более 100 Мб в месяц)</div>
                                    <div class="list__item">Для подключения через Wifi клиент должен знать логин и пароль от сети</div>
                                </div>
                                <div class="types__box-subtitle">Подключение к интернету с помощью:</div>
                                <div class="types__box-list list">
                                    <div class="list__item">Ethernet кабеля (провод от роутера)</div>
                                    <div class="list__item">СИМ-карты</div>
                                    <div class="list__item">WiFi</div>
                                </div>
                            </div>
                            <div class="types__box-btn">
                                <a href="#" class="btn-custom btn-custom--blue">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="types__box">
                        <div class="types__box-img">
                            <img src="images/terminal-types.png" alt="">
                        </div>
                        <div class="types__box-col">
                            <div class="types__box-title">Стационарный (Standalone)</div>
                            <div class="types__box-inner">
                                <div class="types__box-subtitle">Преимущества решения:</div>
                                <div class="types__box-list list">
                                    <div class="list__item">Бесперебойное подключение к интернету через Ethernet позволяет избегать обрывов связи и сложностей при приемы оплаты по картам</div>
                                    <div class="list__item">Простота в процессе установки, в большинстве случаев не требует подключения технических специалистов</div>
                                </div>
                                <div class="types__box-subtitle">Особенности решения:</div>
                                <div class="types__box-list list">
                                    <div class="list__item">Необходимость вводить сумму оплаты дважды: на кассе и отдельно на терминале</div>
                                    <div class="list__item">Необходимо наличие интернета на территории предприятия с выведенным кабелем Ethernet к месту подключения терминала</div>
                                    <div class="list__item">При выборе стационарного терминала с подключением к Интернету через GSM клиенту необходимо самостоятельно покупать СИМ-карту, следить за её балансом и своевременно оплачивать (расход по объему трафика – не более 100 Мб в месяц)</div>
                                    <div class="list__item">Для подключения через Wifi клиент должен знать логин и пароль от сети</div>
                                </div>
                                <div class="types__box-subtitle">Подключение к интернету с помощью:</div>
                                <div class="types__box-list list">
                                    <div class="list__item">Ethernet кабеля (провод от роутера)</div>
                                    <div class="list__item">СИМ-карты</div>
                                    <div class="list__item">WiFi</div>
                                </div>
                            </div>
                            <div class="types__box-btn">
                                <a href="#" class="btn-custom btn-custom--blue">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Оставьте заявку на открытие счета за 5 минут</h2>
                    <div class="request__subtitle">Заполните анкету и принимайте платежи</div>
                    <div class="request__btn">
                        <a href="#" class="btn-custom btn-custom--blue">Открыть счет</a>
                    </div>
                    <div class="request__decor">
                        <img src="images/decor/bank-sticker.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>