//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="breadcrumbs">
            <div class="mbox">
                <ul class="breadcrumbs__list">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О банке</a></li>
                    <li><a href="#">Банкоматы</a></li>
                </ul>
            </div>
        </div>
        <section class="top-section">
            <div class="mbox">
                <div class="top-section__inner">
                    <div class="top-section__row">
                        <div class="top-section__left">
                            <h1 class="top-section__title">Банкоматы</h1>
                        </div>
                        <div class="top-section__right">
                            <div class="top-section__desc">Для внесения наличных Вы можете воспользоваться любым
                                банкоматом Группы Газпромбанка. Это более 4 000 терминалов по всей России. <br><br>

                                Снять денежные средства можно в банкоматах любого Банка. <br>
                                С полными условиями предоставления услуг можете ознакомиться в разделе тарифы.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="atm-filter">
            <div class="mbox">
                <div class="atm-filter__inner">
                    <div class="atm-filter__row">
                        <div class="atm-filter__left">
                            <div class="atm-filter__city">
                                <span>Ваш город:</span>
                                <a href="#city-popup" data-fancybox>Москва</a>
                                <div id="city-popup" class="city">
                                    <div class="city__inner">
                                        <div class="city__head">
                                            <div class="city__title">Выберите город</div>
                                            <form class="search city__search">
                                                <button type="submit">
                                                    <svg><use xlink:href="#search-ico"></use></svg>
                                                </button>
                                                <input id="cityFilterInput" type="text" placeholder="Поиск по городу"
                                                       autocomplete="off">
                                            </form>
                                        </div>
                                        <div class="city__content">
                                            <div class="city__col">
                                                <div class="city__item-title">А</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Абакан</span></div>
                                                    <div class="city__item"><span>Алапаевск</span></div>
                                                    <div class="city__item"><span>Алексин</span></div>
                                                    <div class="city__item"><span>Апатиты</span></div>
                                                    <div class="city__item"><span>Арамиль</span></div>
                                                    <div class="city__item"><span>Артемовский</span></div>
                                                    <div class="city__item"><span>Архангельск</span></div>
                                                    <div class="city__item"><span>Асбест</span></div>
                                                    <div class="city__item"><span>Астрахань</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Б</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Балабаново</span></div>
                                                    <div class="city__item"><span>Барнаул</span></div>
                                                    <div class="city__item"><span>Белгород</span></div>
                                                    <div class="city__item"><span>Белоярский</span></div>
                                                    <div class="city__item"><span>Березовский</span></div>
                                                    <div class="city__item"><span>Благовещенск</span></div>
                                                    <div class="city__item"><span>Богданович</span></div>
                                                    <div class="city__item"><span>Богородицк</span></div>
                                                    <div class="city__item"><span>Богородск</span></div>
                                                    <div class="city__item"><span>Боровск</span></div>
                                                    <div class="city__item"><span>Братск</span></div>
                                                    <div class="city__item"><span>Брянск</span></div>
                                                    <div class="city__item"><span>Бугуруслан</span></div>
                                                    <div class="city__item"><span>Бузулук</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">В</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Великие Луки</span></div>
                                                    <div class="city__item"><span>Великий Новгород</span></div>
                                                    <div class="city__item"><span>Верея</span></div>
                                                    <div class="city__item"><span>Верхняя Пышма</span></div>
                                                    <div class="city__item"><span>Верхняя Салда</span></div>
                                                    <div class="city__item"><span>Владивосток</span></div>
                                                    <div class="city__item"><span>Владимир</span></div>
                                                    <div class="city__item"><span>Волгоград</span></div>
                                                    <div class="city__item"><span>Волгодонск</span></div>
                                                    <div class="city__item"><span>Волжский</span></div>
                                                    <div class="city__item"><span>Вологда</span></div>
                                                    <div class="city__item"><span>Воронеж</span></div>
                                                    <div class="city__item"><span>Вязьма</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Г</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Гагарин</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Д</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Абакан</span></div>
                                                    <div class="city__item"><span>Алапаевск</span></div>
                                                    <div class="city__item"><span>Алексин</span></div>
                                                    <div class="city__item"><span>Апатиты</span></div>
                                                    <div class="city__item"><span>Арамиль</span></div>
                                                    <div class="city__item"><span>Артемовский</span></div>
                                                    <div class="city__item"><span>Архангельск</span></div>
                                                    <div class="city__item"><span>Асбест</span></div>
                                                    <div class="city__item"><span>Астрахань</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Е</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Балабаново</span></div>
                                                    <div class="city__item"><span>Барнаул</span></div>
                                                    <div class="city__item"><span>Белгород</span></div>
                                                    <div class="city__item"><span>Белоярский</span></div>
                                                    <div class="city__item"><span>Березовский</span></div>
                                                    <div class="city__item"><span>Благовещенск</span></div>
                                                    <div class="city__item"><span>Богданович</span></div>
                                                    <div class="city__item"><span>Богородицк</span></div>
                                                    <div class="city__item"><span>Богородск</span></div>
                                                    <div class="city__item"><span>Боровск</span></div>
                                                    <div class="city__item"><span>Братск</span></div>
                                                    <div class="city__item"><span>Брянск</span></div>
                                                    <div class="city__item"><span>Бугуруслан</span></div>
                                                    <div class="city__item"><span>Бузулук</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Ж</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Великие Луки</span></div>
                                                    <div class="city__item"><span>Великий Новгород</span></div>
                                                    <div class="city__item"><span>Верея</span></div>
                                                    <div class="city__item"><span>Верхняя Пышма</span></div>
                                                    <div class="city__item"><span>Верхняя Салда</span></div>
                                                    <div class="city__item"><span>Владивосток</span></div>
                                                    <div class="city__item"><span>Владимир</span></div>
                                                    <div class="city__item"><span>Волгоград</span></div>
                                                    <div class="city__item"><span>Волгодонск</span></div>
                                                    <div class="city__item"><span>Волжский</span></div>
                                                    <div class="city__item"><span>Вологда</span></div>
                                                    <div class="city__item"><span>Воронеж</span></div>
                                                    <div class="city__item"><span>Вязьма</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">З</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Гагарин</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">А</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Абакан</span></div>
                                                    <div class="city__item"><span>Алапаевск</span></div>
                                                    <div class="city__item"><span>Алексин</span></div>
                                                    <div class="city__item"><span>Апатиты</span></div>
                                                    <div class="city__item"><span>Арамиль</span></div>
                                                    <div class="city__item"><span>Артемовский</span></div>
                                                    <div class="city__item"><span>Архангельск</span></div>
                                                    <div class="city__item"><span>Асбест</span></div>
                                                    <div class="city__item"><span>Астрахань</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Б</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Балабаново</span></div>
                                                    <div class="city__item"><span>Барнаул</span></div>
                                                    <div class="city__item"><span>Белгород</span></div>
                                                    <div class="city__item"><span>Белоярский</span></div>
                                                    <div class="city__item"><span>Березовский</span></div>
                                                    <div class="city__item"><span>Благовещенск</span></div>
                                                    <div class="city__item"><span>Богданович</span></div>
                                                    <div class="city__item"><span>Богородицк</span></div>
                                                    <div class="city__item"><span>Богородск</span></div>
                                                    <div class="city__item"><span>Боровск</span></div>
                                                    <div class="city__item"><span>Братск</span></div>
                                                    <div class="city__item"><span>Брянск</span></div>
                                                    <div class="city__item"><span>Бугуруслан</span></div>
                                                    <div class="city__item"><span>Бузулук</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">В</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Великие Луки</span></div>
                                                    <div class="city__item"><span>Великий Новгород</span></div>
                                                    <div class="city__item"><span>Верея</span></div>
                                                    <div class="city__item"><span>Верхняя Пышма</span></div>
                                                    <div class="city__item"><span>Верхняя Салда</span></div>
                                                    <div class="city__item"><span>Владивосток</span></div>
                                                    <div class="city__item"><span>Владимир</span></div>
                                                    <div class="city__item"><span>Волгоград</span></div>
                                                    <div class="city__item"><span>Волгодонск</span></div>
                                                    <div class="city__item"><span>Волжский</span></div>
                                                    <div class="city__item"><span>Вологда</span></div>
                                                    <div class="city__item"><span>Воронеж</span></div>
                                                    <div class="city__item"><span>Вязьма</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Г</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Гагарин</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Д</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Абакан</span></div>
                                                    <div class="city__item"><span>Алапаевск</span></div>
                                                    <div class="city__item"><span>Алексин</span></div>
                                                    <div class="city__item"><span>Апатиты</span></div>
                                                    <div class="city__item"><span>Арамиль</span></div>
                                                    <div class="city__item"><span>Артемовский</span></div>
                                                    <div class="city__item"><span>Архангельск</span></div>
                                                    <div class="city__item"><span>Асбест</span></div>
                                                    <div class="city__item"><span>Астрахань</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Е</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Балабаново</span></div>
                                                    <div class="city__item"><span>Барнаул</span></div>
                                                    <div class="city__item"><span>Белгород</span></div>
                                                    <div class="city__item"><span>Белоярский</span></div>
                                                    <div class="city__item"><span>Березовский</span></div>
                                                    <div class="city__item"><span>Благовещенск</span></div>
                                                    <div class="city__item"><span>Богданович</span></div>
                                                    <div class="city__item"><span>Богородицк</span></div>
                                                    <div class="city__item"><span>Богородск</span></div>
                                                    <div class="city__item"><span>Боровск</span></div>
                                                    <div class="city__item"><span>Братск</span></div>
                                                    <div class="city__item"><span>Брянск</span></div>
                                                    <div class="city__item"><span>Бугуруслан</span></div>
                                                    <div class="city__item"><span>Бузулук</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">Ж</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Великие Луки</span></div>
                                                    <div class="city__item"><span>Великий Новгород</span></div>
                                                    <div class="city__item"><span>Верея</span></div>
                                                    <div class="city__item"><span>Верхняя Пышма</span></div>
                                                    <div class="city__item"><span>Верхняя Салда</span></div>
                                                    <div class="city__item"><span>Владивосток</span></div>
                                                    <div class="city__item"><span>Владимир</span></div>
                                                    <div class="city__item"><span>Волгоград</span></div>
                                                    <div class="city__item"><span>Волгодонск</span></div>
                                                    <div class="city__item"><span>Волжский</span></div>
                                                    <div class="city__item"><span>Вологда</span></div>
                                                    <div class="city__item"><span>Воронеж</span></div>
                                                    <div class="city__item"><span>Вязьма</span></div>
                                                </div>
                                            </div>
                                            <div class="city__col">
                                                <div class="city__item-title">З</div>
                                                <div class="city__list">
                                                    <div class="city__item"><span>Гагарин</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="atm-filter__advan">
                                <label class="atm-filter__checkbox">
                                    <span class="checkbox__wrap">
                                        <input type="checkbox" class="checkbox" value="atm-filter-allday">
                                        <span class="checkbox-fake"></span>
                                    </span>
                                    <span class="atm-filter__checkbox-text">24/7</span>
                                </label>
                                <label class="atm-filter__checkbox">
                                    <span class="checkbox__wrap">
                                        <input type="checkbox" class="checkbox" value="atm-filter-cash">
                                        <span class="checkbox-fake"></span>
                                    </span>
                                    <span class="atm-filter__checkbox-text">С функцией внесенния налички</span>
                                </label>
                                <label class="atm-filter__checkbox">
                                    <span class="checkbox__wrap">
                                        <input type="checkbox" class="checkbox"
                                               value="atm-filter-big-cash">
                                        <span class="checkbox-fake"></span>
                                    </span>
                                    <span class="atm-filter__checkbox-text">С возможностью внесения большого кол-ва купюр</span>
                                </label>
                                <label class="atm-filter__checkbox">
                                    <span class="checkbox__wrap">
                                        <input type="checkbox" class="checkbox" value="atm-filter-nfc">
                                        <span class="checkbox-fake"></span>
                                    </span>
                                    <span class="atm-filter__checkbox-text">
                                        NFC
                                        <span class="hint">
                                            (?)
                                            <span class="hint__text">Сервисы по адаптации мигрантов в России</span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="atm-filter__right">
                            <div class="atm-filter__view">
                                <div class="js-view-map-btn">
                                    <svg><use xlink:href="#map-view-ico"></use></svg>
                                    <span>На карте</span>
                                </div>
                                <div class="js-view-list-btn active">
                                    <svg><use xlink:href="#list-view-ico"></use></svg>
                                    <span>Список</span>
                                </div>
                            </div>
                            <div class="atm-filter__partners">
                                <a href="#">Банкоматы партнеров</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="view">
            <script>
                $(document).ready(function () {
                    var atmArr = [
                        {
                            address: 'Хакасия Респ., г. Абакан, ул. Вяткина, д. 33А',
                            char: 'atm-filter-allday atm-filter-big-cash atm-filter-cash atm-filter-nfc',
                            metro: 'Сокольники Красносельская',
                            name1: '«Восточно-Сибирский»',
                            name2: 'Филиал Банка ГПБ (АО)',
                            lat: '55.765814',
                            lng: '37.617635',
                            tc:'"Абаканский"',
                            time1: 'пн-пт 09:00-18:00',
                            time2: 'сб-вс выходной'
                        },
                        {
                            address: 'Хакасия Респ., г. Абакан, ул. Вяткина, д. 33А',
                            char: 'atm-filter-allday atm-filter-big-cash',
                            metro: 'Сокольники Красносельская',
                            name1: '«Восточно-Сибирский»',
                            name2: 'Филиал Банка ГПБ (АО)',
                            lat: '55.760614',
                            lng: '37.617935',
                            tc:'"Абаканский"',
                            time1: 'пн-пт 09:00-18:00',
                            time2: 'сб-вс выходной'
                        },
                        {
                            address: 'Хакасия Респ., г. Абакан, ул. Вяткина, д. 33А',
                            char: 'atm-filter-allday',
                            metro: 'Сокольники Красносельская',
                            name1: '«Восточно-Сибирский»',
                            name2: 'Филиал Банка ГПБ (АО)',
                            lat: '55.765014',
                            lng: '37.617935',
                            tc:'"Абаканский"',
                            time1: 'пн-пт 09:00-18:00',
                            time2: 'сб-вс выходной'
                        },
                        {
                            address: 'Хакасия Респ., г. Абакан, ул. Вяткина, д. 33А',
                            char: 'atm-filter-allday atm-filter-big-cash atm-filter-cash atm-filter-nfc',
                            metro: 'Сокольники Красносельская',
                            name1: '«Восточно-Сибирский»',
                            name2: 'Филиал Банка ГПБ (АО)',
                            lat: '55.755514',
                            lng: '37.627235',
                            tc:'"Абаканский"',
                            time1: 'пн-пт 09:00-18:00',
                            time2: 'сб-вс выходной'
                        },
                        {
                            address: 'Хакасия Респ., д. 33А',
                            char: 'atm-filter-big-cash atm-filter-cash atm-filter-nfc',
                            metro: 'Сокольники Красносельская',
                            name1: '«Сибирский»',
                            name2: 'Филиал Банка',
                            lat: '55.735014',
                            lng: '37.617935',
                            tc:'"Абаканский"',
                            time1: 'пн-пт 09:00-14:00',
                            time2: 'сб-вс выходной'
                        }
                    ];
                    atmArr.forEach(function (m) {
                        var row =
                            '<a href="#" class="view__list-row ' + m.char +'">' +
                            '<div class="view__list-col">' +
                            '<span class="view__list-name">'+ m.tc +'</span>' +
                            '<span class="view__list-address">'+ m.address +'</span>' +
                            '</div>' +
                            '<div class="view__list-col">' +
                            '<div class="view__list-metro">' +
                            '<svg><use xlink:href="#metro-ico"></use></svg>' +
                            '<span>'+ m.metro +'</span>' +
                            '</div>' +
                            '</div>' +
                            '<div class="view__list-col">' +
                            '<div class="view__list-time">' +
                            '<span>'+ m.time1 +'</span>' +
                            '<span>'+ m.time2 +'</span>' +
                            '</div>' +
                            '</div>' +
                            '<div class="view__list-col">' +
                            '<div class="view__list-filial">' +
                            '<span>'+ m.name2 +'</span>' +
                            '<span>'+ m.name1 +'</span>' +
                            '</div>' +
                            '</div>' +
                            '</a>';
                        $('.view__list-inner').append(row);
                    });
                    var totalResult = $('.view__list-row:visible').length;
                    $('.view__list-total span').html(totalResult);
                    ymaps.ready(init);

                    function init () {
                        var i;
                        var place;
                        var myMap = new ymaps.Map('map', {
                            center: [55.76, 37.64],
                            zoom: 10,
                            controls: []
                        }, {
                            searchControlProvider: 'yandex#search'
                        });
                        myMap.controls.add('zoomControl', {
                            size: "small",
                            float: 'none',
                            position: {
                                bottom: '50px',
                                right: '30px'
                            }
                        });
                        myMap.controls.add('fullscreenControl', {
                            float: 'none',
                            position: {
                                top: '50px',
                                right: '30px'
                            }
                        });
                        for(i = 0; i < atmArr.length; ++i) {
                            place = new ymaps.Placemark([atmArr[i].lat, atmArr[i].lng], {
                                name: atmArr[i].name1,
                                hintContent: atmArr[i].name1,
                                balloonContentHeader:
                                    '<div class="map__header"><b>'+ atmArr[i].tc +'</b></div>' +
                                    '<div class="map__address">'+ atmArr[i].address +'</div>',
                                balloonContentBody:
                                    '<div class="map__row">' +
                                    '<svg><use xlink:href="#metro-ico"></use></svg>' +
                                    '<span>'+ atmArr[i].metro +'</span>' +
                                    '</div>' +
                                    '<div class="map__row">' +
                                    '<svg><use xlink:href="#clock-ico"></use></svg>' +
                                    '<span>'+ atmArr[i].time1+','+ atmArr[i].time2 +'</span>' +
                                    '</div>' +
                                    '<div class="map__row">' +
                                    '<svg><use xlink:href="#map-partner-ico"></use></svg>' +
                                    '<span>'+ atmArr[i].name2 +'<br>'+ atmArr[i].name1 +'</span>' +
                                    '</div>'
                            }, {
                                iconLayout: 'default#image',
                                iconImageHref: 'images/marker-map.png',
                                iconImageSize: [54, 64],
                                iconImageOffset: [-25, -39]
                            });
                            myMap.geoObjects.add(place);

                        }
                        myMap.behaviors.disable('scrollZoom');
                        $(document).on('click', '.view__list-row', function (e) {
                            e.preventDefault();
                            var index = $(this).index();
                            var activePlace;
                            $('.js-view-list').removeClass('active');
                            $('.js-view-map').addClass('active');
                            $('.js-view-list-btn').removeClass('active');
                            $('.js-view-map-btn').addClass('active');
                            myMap.destroy();
                            myMap = new ymaps.Map('map', {
                                center: [atmArr[index].lat, atmArr[index].lng],
                                zoom: 18,
                                controls: []
                            }, {
                                searchControlProvider: 'yandex#search'
                            });
                            myMap.controls.add('zoomControl', {
                                size: "small",
                                float: 'none',
                                position: {
                                    bottom: '50px',
                                    right: '30px'
                                }
                            });
                            myMap.controls.add('fullscreenControl', {
                                float: 'none',
                                position: {
                                    top: '50px',
                                    right: '30px'
                                }
                            });
                            for(i = 0; i < atmArr.length; ++i) {
                                place = new ymaps.Placemark([atmArr[i].lat, atmArr[i].lng], {
                                    name: atmArr[i].name1,
                                    hintContent: atmArr[i].name1,
                                    balloonContentHeader:
                                        '<div class="map__header"><b>'+ atmArr[i].tc +'</b></div>' +
                                        '<div class="map__address">'+ atmArr[i].address +'</div>',
                                    balloonContentBody:
                                        '<div class="map__row">' +
                                            '<svg><use xlink:href="#metro-ico"></use></svg>' +
                                            '<span>'+ atmArr[i].metro +'</span>' +
                                        '</div>' +
                                        '<div class="map__row">' +
                                            '<svg><use xlink:href="#clock-ico"></use></svg>' +
                                            '<span>'+ atmArr[i].time1+','+ atmArr[i].time2 +'</span>' +
                                        '</div>' +
                                        '<div class="map__row">' +
                                            '<svg><use xlink:href="#map-partner-ico"></use></svg>' +
                                            '<span>'+ atmArr[i].name2 +'<br>'+ atmArr[i].name1 +'</span>' +
                                        '</div>'
                                }, {
                                    iconLayout: 'default#image',
                                    iconImageHref: 'images/marker-map.png',
                                    iconImageSize: [54, 64],
                                    iconImageOffset: [-25, -39]
                                });
                                myMap.geoObjects.add(place);
                                if(i == index) {
                                    activePlace = new ymaps.Placemark([atmArr[i].lat, atmArr[i].lng], {
                                        name: atmArr[i].name1,
                                        hintContent: atmArr[i].name1,
                                        balloonContentHeader:
                                            '<div class="map__header"><b>'+ atmArr[i].tc +'</b></div>' +
                                            '<div class="map__address">'+ atmArr[i].address +'</div>',
                                        balloonContentBody:
                                            '<div class="map__row">' +
                                            '<svg><use xlink:href="#metro-ico"></use></svg>' +
                                            '<span>'+ atmArr[i].metro +'</span>' +
                                            '</div>' +
                                            '<div class="map__row">' +
                                            '<svg><use xlink:href="#clock-ico"></use></svg>' +
                                            '<span>'+ atmArr[i].time1+', '+ atmArr[i].time2 +'</span>' +
                                            '</div>' +
                                            '<div class="map__row">' +
                                            '<svg><use xlink:href="#map-partner-ico"></use></svg>' +
                                            '<span>'+ atmArr[i].name2 +'<br>'+ atmArr[i].name1 +'</span>' +
                                            '</div>'
                                    }, {
                                        iconLayout: 'default#image',
                                        iconImageHref: 'images/marker-map-active.png',
                                        iconImageSize: [70, 84],
                                        iconImageOffset: [-33, -55]
                                    });
                                    myMap.geoObjects.add(activePlace);
                                    activePlace.balloon.open();
                                }

                            }
                            myMap.behaviors.disable('scrollZoom');
                        });
                        $(".atm-filter__checkbox :checkbox").click(function() {
                            var totalResult;
                            var re = new RegExp($(".atm-filter__advan :checkbox:checked").map(function() {
                                return this.value;
                            }).get().join(".") );
                            var empty = re.toString();
                            if(empty === '/(?:)/') {
                                re = '.view__list-row';
                            }
                            $('.view__list-row').hide();
                            $(re.toString().replace('/', '.').replace('/', ' ')).show();

                            totalResult = $('.view__list-row:visible').length;
                            $('.view__list-total span').html(totalResult);
                            myMap.destroy();
                            myMap = new ymaps.Map('map', {
                                center: [55.76, 37.64],
                                zoom: 10,
                                controls: []
                            }, {
                                searchControlProvider: 'yandex#search'
                            });
                            myMap.controls.add('zoomControl', {
                                size: "small",
                                float: 'none',
                                position: {
                                    bottom: '50px',
                                    right: '30px'
                                }
                            });
                            myMap.controls.add('fullscreenControl', {
                                float: 'none',
                                position: {
                                    top: '50px',
                                    right: '30px'
                                }
                            });
                            $(re.toString().replace('/', '.').replace('/', ' ')).each(function (){
                                var arrIndex = $(this).index();
                                for(i = 0; i < atmArr.length; ++i) {
                                    if (i == arrIndex) {
                                        place = new ymaps.Placemark([atmArr[i].lat, atmArr[i].lng], {
                                            name: atmArr[i].name1,
                                            hintContent: atmArr[i].name1,
                                            balloonContentHeader:
                                                '<div class="map__header"><b>'+ atmArr[i].tc +'</b></div>' +
                                                '<div class="map__address">'+ atmArr[i].address +'</div>',
                                            balloonContentBody:
                                                '<div class="map__row">' +
                                                '<svg><use xlink:href="#metro-ico"></use></svg>' +
                                                '<span>'+ atmArr[i].metro +'</span>' +
                                                '</div>' +
                                                '<div class="map__row">' +
                                                '<svg><use xlink:href="#clock-ico"></use></svg>' +
                                                '<span>'+ atmArr[i].time1+','+ atmArr[i].time2 +'</span>' +
                                                '</div>' +
                                                '<div class="map__row">' +
                                                '<svg><use xlink:href="#map-partner-ico"></use></svg>' +
                                                '<span>'+ atmArr[i].name2 +'<br>'+ atmArr[i].name1 +'</span>' +
                                                '</div>'
                                        }, {
                                            iconLayout: 'default#image',
                                            iconImageHref: 'images/marker-map.png',
                                            iconImageSize: [54, 64],
                                            iconImageOffset: [-25, -39]
                                        });
                                        myMap.geoObjects.add(place);
                                    }
                                }
                            })
                            myMap.behaviors.disable('scrollZoom');
                        });
                    }
                })
            </script>
            <div class="mbox">
                <div class="view__inner">
                    <div class="view__content js-view-map">
                        <div id="map"></div>
                    </div>
                    <div class="view__content js-view-list active">
                        <div class="view__list">
                            <div class="view__list-total">Найдено <span>0</span> банкомата</div>
                            <div class="view__list-inner">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Оставьте заявку на открытие счета за 5 минут</h2>
                    <div class="request__subtitle">Заполните анкету и принимайте платежи</div>
                    <div class="request__btn">
                        <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                    </div>
                    <div class="request__decor">
                        <img src="images/decor/bank-sticker.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>