//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <section class="page-banner">
            <div class="page-banner__inner">
                <div class="page-banner__row">
                    <div class="mbox">
                        <div class="page-banner__left">
                            <div class="page-banner__content">
                                <h1 class="main-title page-banner__title">Корпоративная карта</h1>
                                <div class="page-banner__desc">Разработанная в соответствии с потребностями малого бизнеса, карта Visa Business — простой способ разделить корпоративные и личные расходы, управлять деловыми и командировочными затратами и упростить ведение бухгалтерского учета.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-banner__img">
                    <img src="images/corporate-card-banner.png" alt="">
                    <img src="images/page-banner-mobile.png" alt="">
                </div>
            </div>
        </section>
        <section class="privilege">
            <div class="mbox">
                <div class="privilege__inner">
                    <h2 class="privilege__title title">Преимущества расчётного счёта</h2>
                    <div class="privilege__subtitle">Лучшие возможности для бизнеса</div>
                    <div class="privilege__row">
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <img src="images/privilege-ico-1.svg" alt="">
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Бесплатное обслуживание</div>
                                <div class="privilege__desc-info">Выпуск и обслуживание – бесплатно</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <img src="images/privilege-ico-2.svg" alt="">
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Разумная комиссия</div>
                                <div class="privilege__desc-info">Преимущества расчетного счета</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <img src="images/privilege-ico-3.svg" alt="">
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Бесплатное пополнение</div>
                                <div class="privilege__desc-info">Пополнение карты до 500 000 ₽ - бесплатно</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="connect">
            <div class="mbox">
                <div class="connect__inner">
                    <h2 class="title connect__title">Как получить?</h2>
                    <div class="connect__content">
                        <div class="connect__row">
                            <div class="connect__item active">
                                <div class="connect__ico">
                                    <svg><use xlink:href="#connect-ico-1"></use></svg>
                                </div>
                                <div class="connect__item-title">Открытие счета</div>
                                <div class="connect__item-desc">Откройте расчетный счет в Просто|Банке</div>
                            </div>
                            <div class="connect__item">
                                <div class="connect__ico">
                                    <svg><use xlink:href="#connect-ico-2"></use></svg>
                                </div>
                                <div class="connect__item-title">Ждем курьера</div>
                                <div class="connect__item-desc">Сотрудник привезет корпоративную карту с договором</div>
                            </div>
                            <div class="connect__item">
                                <div class="connect__ico">
                                    <svg><use xlink:href="#connect-ico-3"></use></svg>
                                </div>
                                <div class="connect__item-title">Принимаем платежи</div>
                                <div class="connect__item-desc">Активируйте карту в личном кабинете</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tariffs">
            <div class="mbox">
                <div class="tariffs__inner">
                    <div class="tariffs__row">
                        <div class="tariffs__content">
                            <h2 class="title tariffs__title">Понятные тарифы</h2>
                            <div class="tariffs__subtitle">Без скрытых условий и навязанных услуг</div>
                            <div class="tariffs__desc">
                                <div class="tariffs__desc-item">Обслуживание</div>
                                <div class="tariffs__desc-item">Платежка</div>
                                <div class="tariffs__desc-item">Переводы физ.лицам в др. банки</div>
                                <div class="tariffs__desc-item">Переводы физ.лицам внутри Банка</div>
                                <div class="tariffs__desc-item">Снятие</div>
                                <div class="tariffs__desc-item">Зачисление на счет</div>
                            </div>
                        </div>
                        <div class="tariffs__slider-wrap">
                            <div class="tariff__slider-inner">
                                <div class="tariffs__slider">
                                    <div class="tariffs__slide tariffs__slide--blue border border--1 border--hover">
                                        <h3 class="tariffs__slide-title">Просто|Торговый</h3>
                                        <div class="tariffs__slide-subtitle">Бесплатный торговый эквайринг</div>
                                        <div class="tariffs__slide-desc">
                                            <div class="tariffs__slide-desc-info"><span>Обслуживание</span><span>Бесплатно по акции с 01.09.2020 по 31.12.2020</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Платежка</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам в др. банки</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам внутри Банка</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Снятие</span><span><span>от 1%</span>от суммы снятия</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Зачисление на счет</span><span>Бесплатно</span></div>
                                        </div>
                                        <div class="tariffs__slide-btn">
                                            <a href="" class="btn-custom btn-custom--blue">Открыть счет</a>
                                        </div>
                                    </div>
                                    <div class="tariffs__slide tariffs__slide--green border border--1 border--hover">
                                        <h3 class="tariffs__slide-title">Просто|Экономный</h3>
                                        <div class="tariffs__slide-subtitle">Отличное начало бизнеса</div>
                                        <div class="tariffs__slide-desc">
                                            <div class="tariffs__slide-desc-info"><span>Обслуживание</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Платежка</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам в др. банки</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам внутри Банка</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Снятие</span><span>Бесплатно до <span>1 500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Зачисление на счет</span><span><span>0,99%</span> от суммы зачисления</span></div>
                                        </div>
                                        <div class="tariffs__slide-btn">
                                            <a href="" class="btn-custom btn-custom--blue">Открыть счет</a>
                                        </div>
                                    </div>
                                    <div class="tariffs__slide tariffs__slide--blue border border--1 border--hover">
                                        <h3 class="tariffs__slide-title">Просто|Торговый</h3>
                                        <div class="tariffs__slide-subtitle">Бесплатный торговый эквайринг</div>
                                        <div class="tariffs__slide-desc">
                                            <div class="tariffs__slide-desc-info"><span>Обслуживание</span><span>Бесплатно по акции с 01.09.2020 по 31.12.2020</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Платежка</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам в др. банки</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам внутри Банка</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Снятие</span><span><span>от 1%</span>от суммы снятия</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Зачисление на счет</span><span>Бесплатно</span></div>
                                        </div>
                                        <div class="tariffs__slide-btn">
                                            <a href="" class="btn-custom btn-custom--blue">Открыть счет</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tariffs__pdf">
                        <a href="#">
                            <svg>
                                <use xlink:href="#pdf-ico"></use>
                            </svg>
                            <span>Полное описание тарифов</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="questions">
            <div class="mbox">
                <div class="questions__inner border border--1">
                    <h2 class="title questions__title questions__title--center">Частые вопросы</h2>
                    <div class="questions__accord">
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">В каком банке будет открыт счёт?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">Что такое «Просто|Банк»?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">У меня есть счёт в другом банке. Что делать?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">Застрахованы ли средства на счете?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Оставьте заявку на открытие счета за 5 минут</h2>
                    <div class="request__subtitle">Заполните анкету и принимайте платежи</div>
                    <div class="request__btn">
                        <a href="#" class="btn-custom btn-custom--blue">Открыть счет</a>
                    </div>
                    <div class="request__decor">
                        <img src="images/decor/bank-sticker.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>