//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <section class="page-banner">
            <div class="page-banner__inner">
                <div class="page-banner__row">
                    <div class="mbox">
                        <div class="page-banner__left">
                            <div class="page-banner__content">
                                <h1 class="main-title page-banner__title">Кредит для бизнеса не выходя из дома!</h1>
                                <div class="page-banner__desc">Получите кредитный лимит, самостоятельно настраивайте сроки и удобную для себя форму получения - овердрафт и/или разовый кредит -в рамках утвержденного лимита</div>
                            </div>
                            <div class="page-banner__btn">
                                <a href="" class="btn-custom btn-custom--blue">Заполнить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-banner__img">
                    <img src="images/credit-banner.png" alt="">
                    <img src="images/page-banner-mobile.png" alt="">
                </div>
            </div>
        </section>
        <section class="privilege">
            <div class="mbox">
                <div class="privilege__inner">
                    <h2 class="privilege__title title">Ключевые преимущества</h2>
                    <div class="privilege__subtitle">Лучшие возможности для бизнеса</div>
                    <div class="privilege__row">
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <img src="images/credit-img-01.svg" alt="">
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Решение в течение 24 часов</div>
                                <div class="privilege__desc-info">Без посещения офиса Банка</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <img src="images/credit-img-02.svg" alt="">
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Без залогового обеспечения</div>
                                <div class="privilege__desc-info">Достаточно лишь финансового поручительства </div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <img src="images/credit-img-03.svg" alt="">
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Мы не запрашиваем финансовую документацию</div>
                                <div class="privilege__desc-info">Необходимо только ответить на несколько вопросов и заполнить анкету</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="questions">
            <div class="mbox">
                <div class="questions__inner border border--1">
                    <h2 class="title questions__title">Условия по кредитным продуктам</h2>
                    <div class="questions__accord">
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">Разовый кредит</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">Овердрафт</div>
                            <div class="questions__accord-content js-accord-content">
                                <div class="credit-table">
                                    <div class="credit-table__row">
                                        <div class="credit-table__col">Цель кредита:</div>
                                        <div class="credit-table__col">для текущих платежей по бизнесу</div>
                                    </div>
                                    <div class="credit-table__row">
                                        <div class="credit-table__col">Сумма:</div>
                                        <div class="credit-table__col">минимум - <span>25 000</span> рублей; максимум – <span>2 000 000</span> рублей</div>
                                    </div>
                                    <div class="credit-table__row">
                                        <div class="credit-table__col">Срок договора:</div>
                                        <div class="credit-table__col">до <span>3-х</span> лет</div>
                                    </div>
                                    <div class="credit-table__row">
                                        <div class="credit-table__col">Срок транша:</div>
                                        <div class="credit-table__col"><span>60</span> дней</div>
                                    </div>
                                    <div class="credit-table__row">
                                        <div class="credit-table__col">Процентная ставка:</div>
                                        <div class="credit-table__col"><span>20%</span> годовых</div>
                                    </div>
                                </div>
                                <p>Целесообразен для тех заемщиков, у которых появляется временная потребность в денежных средствах, сроки траншей до 2 месяцев.</p>
                                <p>На постоянной основе в бизнесе происходит такая ситуация, когда нужно проплатить
                                    поставщику за товар, но выручка от покупателей еще не пришла на счет. В таких
                                    случаях можно воспользоваться овердрафтом, не ожидая поступлений от покупателя, а когда выручка от покупателя поступит на счет, эти средства спишутся в погашение задолженности по овердрафту.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Заявка на кредит</h2>
                    <div class="request__subtitle">Заполните информацию</div>
                    <div class="request__form">
                        <form class="form">
                            <div class="form__row">
                                <div class="popup__field">
                                    <input type="text" name="user-inn" required>
                                    <span class="form__label">ФИО*</span>
                                </div>
                                <div class="popup__field">
                                    <input type="text" class="tel-mask" name="user-phone1" required>
                                    <span class="form__label">Телефон*</span>
                                </div>
                                <div class="popup__field">
                                    <input type="email" name="user-email" required>
                                    <span class="form__label">Электронный адрес*</span>
                                </div>
                                <div class="popup__field">
                                    <div class="select">
                                        <select class="js-select-3" name="user-city">
                                            <option value=""></option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                        </select>
                                    </div>
                                    <span class="form__label select__label">Выбор города*</span>
                                </div>
                            </div>
                            <div class="popup__confirm">
                                <div class="popup__accept">
                                    <label>
                                        <input type="checkbox" class="checkbox" required name="user-accept">
                                        <span class="checkbox-fake"></span>
                                        <span class="popup__accept-text">Я подтверждаю согласие с <a
                                                href="#">условиями передачи информации</a></span>
                                    </label>
                                </div>
                                <div class="popup__confirm-btn">
                                    <button class="btn-custom btn-custom--blue">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="info">
            <div class="mbox">
                <div class="info__inner">
                    <div class="title info__title">Полезная информация</div>
                    <div class="tabs__wrap">
                        <div class="tabs info__tabs">
                            <div class="tabs__row js-tabs">
                                <a href="#" class="tabs__tab active">Основные условия</a>
                                <a href="#" class="tabs__tab">Требования к Клиенту</a>
                                <a href="#" class="tabs__tab">Поручительство</a>
                                <a href="#" class="tabs__tab">Частые вопросы</a>
                                <a href="#" class="tabs__tab">Города присутствия</a>
                            </div>
                        </div>
                        <div class="tabs__content active">
                            <div class="credit-table">
                                <div class="credit-table__row">
                                    <div class="credit-table__col">Параметры:</div>
                                    <div class="credit-table__col">Юридическое лицо или Индивидуальный предприниматель</div>
                                </div>
                                <div class="credit-table__row">
                                    <div class="credit-table__col">Лимит кредитования:</div>
                                    <div class="credit-table__col"><span>25 000 – 2 000 000</span> рублей</div>
                                </div>
                                <div class="credit-table__row">
                                    <div class="credit-table__col">Срок кредитования:</div>
                                    <div class="credit-table__col">от <span>3</span> до <span>36</span> месяцев</div>
                                </div>
                                <div class="credit-table__row">
                                    <div class="credit-table__col">Способ получения:</div>
                                    <div class="credit-table__col">на счёт открытый в Просто|Банк</div>
                                </div>
                                <div class="credit-table__row">
                                    <div class="credit-table__col">Целевое использование:</div>
                                    <div class="credit-table__col">только на бизнес-цели</div>
                                </div>
                                <div class="credit-table__row">
                                    <div class="credit-table__col">Залоговое обеспечение:</div>
                                    <div class="credit-table__col">не требуется</div>
                                </div>
                                <div class="credit-table__row">
                                    <div class="credit-table__col">Поручительство по суммам кредита до 300 тыс. руб.:</div>
                                    <div class="credit-table__col">не требуется</div>
                                </div>
                                <div class="credit-table__row">
                                    <div class="credit-table__col">Поручительство по суммам кредита свыше 300 тыс. руб:</div>
                                    <div class="credit-table__col"><span>Для  юридического лица:</span> поручительство
                                        руководителя и учредителей с долей >50%
                                        <br><br>
                                        <span>Для индивидуального предпринимателя:</span> поручительство супруги(-а) (гражданин РФ. При отсутствии супруги(-а) предоставляется поручительство физического лица – гражданина РФ.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__content">
                            <div class="questions__accord">
                                <div class="questions__accord-row">
                                    <div class="questions__accord-head js-accord-head">Юридическое лицо</div>
                                    <div class="questions__accord-content js-accord-content">
                                        <ol>
                                            <li>Клиент является юридическим лицом</li>
                                            <li>Срок ведения деятельности бизнеса не менее 12 месяцев.</li>
                                            <li>Единоличный исполнительный орган и учредители Клиента – юридического лица являются гражданамиРоссийской Федерации.</li>
                                            <li>До заключения Кредитного соглашения у Клиента должен быть открыт расчётный счёт в Банке (при егоотсутствии).</li>
                                            <li>Возраст руководителей и учредителей от 22 до 65 лет</li>
                                            <li>Единоличный исполнительный орган и учредители Клиента – юридического лица проживают в городахприсутствия Банка</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="questions__accord-row">
                                    <div class="questions__accord-head js-accord-head">Индивидуальный предприниматель</div>
                                    <div class="questions__accord-content js-accord-content">
                                        <ol>
                                            <li>Действующий статус - Индивидуальный предприниматель.</li>
                                            <li>Срок ведения деятельности бизнеса не менее 12 месяцев.</li>
                                            <li>Индивидуальный предприниматель является гражданином Российской Федерации.</li>
                                            <li>До заключения Кредитного соглашения у Клиента должен быть открыт расчётный счёт в Банке (при егоотсутствии).</li>
                                            <li>Возраст Индивидуального предпринимателя от 22 до 65 лет</li>
                                            <li>Индивидуальный предприниматель – проживает в городах присутствия Банка</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__content">
                            <div class="questions__accord">
                                <div class="questions__accord-row">
                                    <div class="questions__accord-head js-accord-head">Юридическое лицо</div>
                                    <div class="questions__accord-content js-accord-content">
                                        <p>Поручительство основных учредителей (участников)* с совокупной долей владения 50% и более вуставном капитале Клиента.</p>
                                        <p><i>* Принимается поручительство только физических лиц – граждан Российской Федерации.</i></p>
                                        <p>Если в составе основных учредителей (участников) Клиента является юридическое лицо, то принимаетсяпоручительство одного основного (с долей владения 50% и более) учредителя (участника) данногоюридического лица либо его фактического владельца.</p>
                                    </div>
                                </div>
                                <div class="questions__accord-row">
                                    <div class="questions__accord-head js-accord-head">Индивидуальный предприниматель</div>
                                    <div class="questions__accord-content js-accord-content">
                                        <p>Поручительство   супруги(-а)   (гражданин   Российской   Федерации).   При   отсутствии   супруги(-а)предоставляется поручительство физического лица – гражданина Российской Федерации.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__content">
                            <div class="questions__accord">
                                <div class="questions__accord-row">
                                    <div class="questions__accord-head js-accord-head">Что значит получение лимита кредитования в Просто|Банке?</div>
                                    <div class="questions__accord-content js-accord-content">
                                        <p>При получении положительного решения, вы получаете не конкретный кредитный продукт, а лимиткредитования. В рамках утвержденного лимита кредитования, можно настроить в своем личномкабинете получения как отдельно разового кредита или овердрафта, так и выбрать сразу два продуктавместе, при этом, на каждый кредитный продукт будут действовать свои условия, которые относятсяименно к нему.</p>
                                    </div>
                                </div>
                                <div class="questions__accord-row">
                                    <div class="questions__accord-head js-accord-head">Что значит «кредит не выходя из дома»?</div>
                                    <div class="questions__accord-content js-accord-content">
                                        <p>Посещение офиса Банка не предусмотрено. Подача заявления, получения решения, подписание кредитнойдокументации - все это происходит онлайн в вашем личном кабинете.</p>
                                        <p>Предусмотрена только одна встреча с менеджером Банка, который приедет в удобное для вас место ивремя.</p>
                                    </div>
                                </div>
                                <div class="questions__accord-row">
                                    <div class="questions__accord-head js-accord-head">Действительно ли Просто|Банк не запрашивает финансовую документацию по бизнесу потенциальногозаемщика?</div>
                                    <div class="questions__accord-content js-accord-content">
                                        <p>Это действительно так. Вам не нужно тратить время на формирование финансовой документации,которую   необходимо   отправлять   в   Банк   для   проведения   финансового   анализа   вашего   бизнеса.Достаточно ответить на несколько вопросов, заполнить данные анкеты и этого достаточно дляполучения окончательного решения по кредитному лимиту.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__content">
                            <p>Москва   и   Московская   область,   Санкт-Петербург   и   Ленинградская   область,   Волгоград,   Воронеж,Екатеринбург,   Иркутск,   Казань,   Кемерово,   Красноярск,   Краснодар,   Набережные   Челны,   НижнийНовгород,   Новосибирск,   Омск,   Пермь,   Ростов-на-Дону,   Самара,   Саратов,   Сургут,   Тюмень,   Уфа,Челябинск, Ярославль.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>