//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="breadcrumbs">
            <div class="mbox">
                <ul class="breadcrumbs__list">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О банке</a></li>
                    <li><a href="#">Документы</a></li>
                </ul>
            </div>
        </div>
        <section class="top-section">
            <div class="mbox">
                <div class="top-section__inner">
                    <div class="top-section__row">
                        <div class="top-section__left">
                            <h1 class="top-section__title">Документы</h1>
                        </div>
                        <div class="top-section__right">
                            <form class="search top-section__search">
                                <button type="submit">
                                    <svg><use xlink:href="#search-ico"></use></svg>
                                </button>
                                <input type="text" placeholder="Введите интерисующий ваc документ">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="documents">
            <div class="mbox">
                <div class="documents__row">
                    <div class="documents__aside">
                        <div class="documents__accord">
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-documents-accord-head">Частным лицам и Премиум клиентам</div>
                                <div class="questions__accord-content js-documents-accord-content">
                                    <div class="documents__nav">
                                        <a href="#" class="documents__nav-item">Правоустанавливающие документы</a>
                                        <a href="#" class="documents__nav-item">Меры безопасности</a>
                                        <a href="#" class="documents__nav-item">Структура собственности банка</a>
                                        <a href="#" class="documents__nav-item current">Информация для обнародования</a>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-documents-accord-head">Бизнесу</div>
                                <div class="questions__accord-content js-documents-accord-content">
                                    <div class="documents__nav">
                                        <a href="#" class="documents__nav-item">Правоустанавливающие документы</a>
                                        <a href="#" class="documents__nav-item">Меры безопасности</a>
                                        <a href="#" class="documents__nav-item">Структура собственности банка</a>
                                        <a href="#" class="documents__nav-item current">Информация для обнародования</a>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-documents-accord-head">Корпоративному бизнесу</div>
                                <div class="questions__accord-content js-documents-accord-content">
                                    <div class="documents__nav">
                                        <a href="#" class="documents__nav-item">Правоустанавливающие документы</a>
                                        <a href="#" class="documents__nav-item">Меры безопасности</a>
                                        <a href="#" class="documents__nav-item">Структура собственности банка</a>
                                        <a href="#" class="documents__nav-item current">Информация для обнародования</a>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-documents-accord-head">Общебанковские</div>
                                <div class="questions__accord-content js-documents-accord-content">
                                    <div class="documents__nav">
                                        <a href="#" class="documents__nav-item">Правоустанавливающие документы</a>
                                        <a href="#" class="documents__nav-item">Меры безопасности</a>
                                        <a href="#" class="documents__nav-item">Структура собственности банка</a>
                                        <a href="#" class="documents__nav-item current">Информация для обнародования</a>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-documents-accord-head">Отчеты банка</div>
                                <div class="questions__accord-content js-documents-accord-content">
                                    <div class="documents__nav">
                                        <a href="#" class="documents__nav-item">Правоустанавливающие документы</a>
                                        <a href="#" class="documents__nav-item">Меры безопасности</a>
                                        <a href="#" class="documents__nav-item">Структура собственности банка</a>
                                        <a href="#" class="documents__nav-item current">Информация для обнародования</a>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-documents-accord-head">Кассовое обслуживание</div>
                                <div class="questions__accord-content js-documents-accord-content">
                                    <div class="documents__nav">
                                        <a href="#" class="documents__nav-item">Правоустанавливающие документы</a>
                                        <a href="#" class="documents__nav-item">Меры безопасности</a>
                                        <a href="#" class="documents__nav-item">Структура собственности банка</a>
                                        <a href="#" class="documents__nav-item current">Информация для обнародования</a>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-documents-accord-head">Депозитарные услуги</div>
                                <div class="questions__accord-content js-documents-accord-content">
                                    <div class="documents__nav">
                                        <a href="#" class="documents__nav-item">Правоустанавливающие документы</a>
                                        <a href="#" class="documents__nav-item">Меры безопасности</a>
                                        <a href="#" class="documents__nav-item">Структура собственности банка</a>
                                        <a href="#" class="documents__nav-item current">Информация для обнародования</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="documents__right">
                        <div class="documents__content">
                            <div class="documents__title">Информация для обнародования</div>
                            <div class="documents__list">
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                                <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                    <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                </a>
                            </div>
                            <div class="documents__archive">
                                <div class="questions__accord-row">
                                    <div class="questions__accord-head js-documents-accord-head">Показать архив</div>
                                    <div class="questions__accord-content js-documents-accord-content">
                                        <div class="documents__list">
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                            <a href="#" class="documents__list-item">
                                    <span class="documents__list-ico">
                                        <svg><use xlink:href="#pdf-ico"></use></svg>
                                    </span>
                                                <span class="documents__list-name">Консолидированная промежуточная финансовая отчетность эмитента ценных бумаг за 1 квартал 2020 года</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Оставьте заявку на открытие счета за 5 минут</h2>
                    <div class="request__subtitle">Заполните анкету и принимайте платежи</div>
                    <div class="request__btn">
                        <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                    </div>
                    <div class="request__decor">
                        <img src="images/decor/bank-sticker.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>