//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="breadcrumbs">
            <div class="mbox">
                <ul class="breadcrumbs__list">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О банке</a></li>
                    <li><a href="#">Вопросы и Ответ</a></li>
                </ul>
            </div>
        </div>
        <section class="press-center">
            <div class="mbox">
                <h1 class="main-title">Вопросы и Ответы</h1>
                <div class="press-center__inner">
                    <div class="tabs">
                        <div class="tabs__row">
                            <a href="#" class="tabs__tab active">Все</a>
                            <a href="#" class="tabs__tab">Вопросы о банке</a>
                            <a href="#" class="tabs__tab">Впросы по Услугам</a>
                            <a href="#" class="tabs__tab">Общие вопросы</a>
                            <a href="#" class="tabs__tab">Открытии счета</a>
                            <a href="#" class="tabs__tab">Торговый эквайринг</a>
                            <a href="#" class="tabs__tab">Корпоративным клиентам</a>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="questions__accord">
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-accord-head">В каком банке будет открыт счёт?</div>
                                <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-accord-head">Что такое «Просто|Банк»?</div>
                                <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-accord-head">У меня есть счёт в другом банке. Что делать?</div>
                                <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-accord-head">Застрахованы ли средства на счете?</div>
                                <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-accord-head">В каком банке будет открыт счёт?</div>
                                <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-accord-head">Что такое «Просто|Банк»?</div>
                                <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-accord-head">У меня есть счёт в другом банке. Что делать?</div>
                                <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                            </div>
                            <div class="questions__accord-row">
                                <div class="questions__accord-head js-accord-head">Застрахованы ли средства на счете?</div>
                                <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="callback">
            <div class="mbox mbox--small">
                <div class="callback__inner">
                    <h2 class="callback__title title">Откройте счёт за 10 минут</h2>
                    <div class="callback__subtitle">и принимайте платежи сразу</div>
                    <form class="callback__form">
                        <div class="callback__input">
                            <input type="text" class="tel-mask" name="user-phone" required placeholder="+7 (xxx) xxxxxxx">
                        </div>
                        <div class="callback__btn">
                            <button type="submit" class="btn-custom btn-custom--blue">Перезвоните мне</button>
                        </div>
                    </form>
                    <div class="callback__desc">Ввод номера телефона подтверждает ваше согласие на <a href="#">обработку персональных данных</a></div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>