//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="mbox">
            <ul>
                <li><a href="main.html">Главная</a></li>
                <li><a href="press-center.html">Пресс-центр</a></li>
                <li><a href="press-center-detail.html">Пресс-центр деталка</a></li>
                <li><a href="acquiring.html">Торговый эквайринг</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="corporate-card.html">Корпоративная карта</a></li>
                <li><a href="atm.html">Банкоматы</a></li>
                <li><a href="documents.html">Документы</a></li>
                <li><a href="partners.html">Партнеры</a></li>
                <li><a href="action.html">Акции</a></li>
                <li><a href="to-partners.html">Партнерам</a></li>
                <li><a href="about.html">О Нас</a></li>
                <li><a href="credit.html">Кредитование</a></li>
            </ul>
            <br>
            <hr>
            <div class="title">
                <h2>Попапы</h2>
            </div>
             <ul>
                 <li><a href="#auth-popup" data-fancybox>Войти как</a></li>
                 <li><a href="#fast-open-account" data-fancybox>Откройте счёт за 10 минут</a></li>
                 <li><a href="#open-account" data-fancybox>Открыть счет</a></li>
                 <li><a href="#fast-open-account-success" data-fancybox>Мы перезвоним вам в течении 10 минут</a></li>
                 <li><a href="#open-account-success" data-fancybox>Мы перезвоним вам, как только заявка будет обработана</a></li>
             </ul>
            <br>
            <hr>
            <div class="title">
                <h2>содержимое спрайта</h2>
            </div>
            <div class="svg-container"></div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
    <style>
        .svg-container{display: flex;justify-content: space-between; align-items: flex-start; flex-wrap: wrap;border: 1px solid #0f0f11;}
        .svg-container div{width: 200px; padding: 10px; border: 1px solid #0f0f11; flex-grow: 1;}
        .svg-container svg{width: 100%;}
    </style>
    <script>
        $(document).ready(function(){
            $('body>svg symbol').each(function(){
                var id = $(this).attr('id');
                var div = document.createElement('div');
                $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
                $('.svg-container').append(div);
            });
        });
    </script>
</div>
</body>
</html>