//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <section class="banner">
            <div class="banner__slider" data-slick='{"autoplaySpeed":3000, "autoplay": true}'>
                <div class="banner__slide-wrap">
                    <div class="banner__slide">
                        <div class="banner__content">
                            <div class="banner__content-decor"></div>
                            <div class="banner__inner">
                                <div class="banner__title">Просто|Банк</div>
                                <div class="banner__text">Наконец-то просто</div>
                            </div>
                            <div class="banner__btn">
                                <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть
                                    счет</a>
                            </div>
                        </div>
                        <div class="banner__img">
                            <img src="images/main-banner-desc.png" alt="">
                            <img src="images/main-banner-mobile.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="banner__slide-wrap">
                    <div class="banner__slide">
                        <div class="banner__content">
                            <div class="banner__content-decor"></div>
                            <div class="banner__inner">
                                <div class="banner__title">Просто|Банк</div>
                                <div class="banner__text">Наконец-то просто</div>
                            </div>
                            <div class="banner__btn">
                                <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                            </div>
                        </div>
                        <div class="banner__img">
                            <img src="images/main-banner-desc.png" alt="">
                            <img src="images/main-banner-mobile.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="banner__slide-wrap">
                    <div class="banner__slide">
                        <div class="banner__content">
                            <div class="banner__content-decor"></div>
                            <div class="banner__inner">
                                <div class="banner__title">Просто|Банк</div>
                                <div class="banner__text">Наконец-то просто</div>
                            </div>
                            <div class="banner__btn">
                                <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                            </div>
                        </div>
                        <div class="banner__img">
                            <img src="images/main-banner-desc.png" alt="">
                            <img src="images/main-banner-mobile.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__arrows">
                <div data-slider="slickPrev" class="banner__slider-arrow prev"></div>
                <div data-slider="slickNext" class="banner__slider-arrow next"></div>
            </div>
        </section>
        <section class="advantages">
            <div class="mbox">
                <div class="advantages__inner border border--1">
                    <h2 class="advantages__title title">Мы стремимся стать по-настоящему <br>
                        близким помощником для предпринимателей.</h2>
                    <div class="advantages__subtitle">Мы делаем банковский сервис легким и понятным.</div>
                    <div class="advantages__desc">Просто|Банк создан на инфраструктуре Банка «КУБ» (АО), входящего в Группу Газпромбанка, с использованием современных технологий. Это позволяет нашим клиентам получать все преимущества крупного банка с удобством технологичных сервисов.</div>
                    <div class="advantages__row">
                        <div class="advantages__item">
                            <div class="advantages__ico">
                                <img src="images/advantages-1.svg" alt="">
                            </div>
                            <div class="advantages__item-desc">Надежная лицензия банка Группы Газпромбанка</div>
                        </div>
                        <div class="advantages__item">
                            <div class="advantages__ico">
                                <img src="images/advantages-2.svg" alt="">
                            </div>
                            <div class="advantages__item-desc">Безопасные и стабильные технологии</div>
                        </div>
                        <div class="advantages__item">
                            <div class="advantages__ico">
                                <img src="images/advantages-3.svg" alt="">
                            </div>
                            <div class="advantages__item-desc">Рейтинг кредитоспособности</div>
                        </div>
                        <div class="advantages__item">
                            <div class="advantages__ico">
                                <img src="images/advantages-4.svg" alt="">
                            </div>
                            <div class="advantages__item-desc">Средства на счетах ИП застрахованы</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="mbox">
                <div class="services__inner services__slider">
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img label label--green-sticker">
                            <img src="images/services-img-01.png" alt="">
                        </div>
                        <h3 class="services__title">Расчетный счет</h3>
                        <div class="services__desc">Открытие, ведение счетов, интернет-банкинг</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img">
                            <img src="images/services-img-02.png" alt="">
                        </div>
                        <h3 class="services__title">Корпоративные карты</h3>
                        <div class="services__desc">Возможности для закупок, самоинкассация, оплата товаров и услуг по всему миру</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img label label--bank-sticker">
                            <img src="images/services-img-03.png" alt="">
                        </div>
                        <h3 class="services__title">Торговый эквайринг</h3>
                        <div class="services__desc">Установка современных терминалов, оперативное подключение и прием платежей 24/7</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img label label--green-sticker">
                            <img src="images/services-img-01.png" alt="">
                        </div>
                        <h3 class="services__title">Расчетный счет</h3>
                        <div class="services__desc">Открытие, ведение счетов, интернет-банкинг</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img">
                            <img src="images/services-img-02.png" alt="">
                        </div>
                        <h3 class="services__title">Корпоративные карты</h3>
                        <div class="services__desc">Возможности для закупок, самоинкассация, оплата товаров и услуг по всему миру</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img label label--bank-sticker">
                            <img src="images/services-img-03.png" alt="">
                        </div>
                        <h3 class="services__title">Торговый эквайринг</h3>
                        <div class="services__desc">Установка современных терминалов, оперативное подключение и прием платежей 24/7</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="quick-work" style="background-image: url('images/main-banner-decor.jpg');">
            <div class="quick-work__banner" style="background-image: url('images/quick-banner.jpg');">
                <div class="mbox">
                    <div class="quick-work__content">
                        <div class="quick-work__box">
                            <h2 class="quick-work__title title">Быстро и безопасно начнем работать</h2>
                            <div class="quick-work__subtitle">Как открыть счет онлайн?</div>
                            <div class="list quick-work__list">
                                <div class="list__item">Бесплатно откройте счёт</div>
                                <div class="list__item">Сообщим ФНС об открытии счёта, привезём карту и документы, куда вам удобно</div>
                                <div class="list__item">Отправляйте платежи, ведите бухгалтерию и переводите зарплату в интернет-банке</div>
                                <div class="list__item">Стать клиентом</div>
                            </div>
                        </div>
                        <div class="quick-work__progress">
                            <div class="quick-work__progress-item">
                                <div class="quick-work__progress-ico active">
                                    <img src="images/progress-1.svg" alt="">
                                </div>
                                <div class="quick-work__progress-name">Отправьте <br> заявку</div>
                            </div>
                            <div class="quick-work__progress-item">
                                <div class="quick-work__progress-ico">
                                    <img src="images/progress-2.svg" alt="">
                                </div>
                                <div class="quick-work__progress-name">Загрузите фото документов</div>
                            </div>
                            <div class="quick-work__progress-item">
                                <div class="quick-work__progress-ico">
                                    <img src="images/progress-3.svg" alt="">
                                </div>
                                <div class="quick-work__progress-name">Мы привезём договор и карту</div>
                            </div>
                            <div class="quick-work__progress-item">
                                <div class="quick-work__progress-ico">
                                    <img src="images/progress-4.svg" alt="">
                                </div>
                                <div class="quick-work__progress-name">Пользуйтесь расчётным счётом</div>
                            </div>
                        </div>
                        <div class="quick-work__btn">
                            <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-block service-block--terminal">
            <div class="mbox">
                <div class="service-block__row border border--1">
                    <div class="service-block__decor service-block__decor--1">
                        <img src="images/service-block-decor-01.png" alt="">
                    </div>
                    <div class="service-block__img-wrap">
                        <div class="service-block__img">
                            <img src="images/terminal-img.png" alt="">
                        </div>
                    </div>
                    <div class="service-block__content">
                        <h2 class="title service-block__title">Торговый эквайринг</h2>
                        <div class="list service-block__list">
                            <div class="list__item">Оперативное подключение</div>
                            <div class="list__item">Фиксированная ставка 1,9% от суммы транзакции</div>
                            <div class="list__item">On-line подписание документов</div>
                            <div class="list__item">Приём платежей 24/7</div>
                            <div class="list__item">Бесплатное предоставление терминала на время пользования услугой</div>
                            <div class="list__item">Современные терминалы</div>
                        </div>
                        <div class="service-block__btn">
                            <a href="" class="btn-custom btn-custom--blue">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-block service-block--credit reverse">
            <div class="mbox">
                <div class="service-block__row border border--1">
                    <div class="service-block__decor service-block__decor--2">
                        <img src="images/service-block-decor-02.png" alt="">
                    </div>
                    <div class="service-block__img-wrap">
                        <div class="service-block__img">
                            <img src="images/credit-card-img.png" alt="">
                        </div>
                    </div>
                    <div class="service-block__content">
                        <h2 class="title service-block__title">Корпоративная карта</h2>
                        <div class="list service-block__list">
                            <div class="list__item">Выпуск и обслуживание – бесплатно</div>
                            <div class="list__item">Снятие наличных - от 1%</div>
                            <div class="list__item">Пополнение карты до 500 000 ₽ - бесплатно</div>
                            <div class="list__item">SMS-оповещение – первые 3 месяца бесплатно</div>
                        </div>
                        <div class="service-block__btn">
                            <a href="" class="btn-custom btn-custom--blue">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tariffs">
            <div class="mbox">
                <div class="tariffs__inner">
                    <div class="tariffs__row">
                        <div class="tariffs__content">
                            <h2 class="title tariffs__title">Понятные тарифы</h2>
                            <div class="tariffs__subtitle">Без скрытых условий и навязанных услуг</div>
                            <div class="tariffs__desc">
                                <div class="tariffs__desc-item">Обслуживание</div>
                                <div class="tariffs__desc-item">Платежка</div>
                                <div class="tariffs__desc-item">Переводы физ.лицам в др. банки</div>
                                <div class="tariffs__desc-item">Переводы физ.лицам внутри Банка</div>
                                <div class="tariffs__desc-item">Снятие</div>
                                <div class="tariffs__desc-item">Зачисление на счет</div>
                            </div>
                        </div>
                        <div class="tariffs__slider-wrap">
                            <div class="tariff__slider-inner">
                                <div class="tariffs__slider">
                                    <div class="tariffs__slide tariffs__slide--blue border border--1 border--hover">
                                        <h3 class="tariffs__slide-title">Просто|Торговый</h3>
                                        <div class="tariffs__slide-subtitle">Бесплатный торговый эквайринг</div>
                                        <div class="tariffs__slide-desc">
                                            <div class="tariffs__slide-desc-info"><span>Обслуживание</span><span>Бесплатно по акции с 01.09.2020 по 31.12.2020</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Платежка</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам в др. банки</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам внутри Банка</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Снятие</span><span><span>от
                                                1% </span>от суммы снятия</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Зачисление на счет</span><span>Бесплатно</span></div>
                                        </div>
                                        <div class="tariffs__slide-btn">
                                            <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                                        </div>
                                    </div>
                                    <div class="tariffs__slide tariffs__slide--green border border--1 border--hover">
                                        <h3 class="tariffs__slide-title">Просто|Экономный</h3>
                                        <div class="tariffs__slide-subtitle">Отличное начало бизнеса</div>
                                        <div class="tariffs__slide-desc">
                                            <div class="tariffs__slide-desc-info"><span>Обслуживание</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Платежка</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам в др. банки</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам внутри Банка</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Снятие</span><span>Бесплатно до <span>1 500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Зачисление на счет</span><span><span>0,99%</span> от суммы зачисления</span></div>
                                        </div>
                                        <div class="tariffs__slide-btn">
                                            <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                                        </div>
                                    </div>
                                    <div class="tariffs__slide tariffs__slide--blue border border--1 border--hover">
                                        <h3 class="tariffs__slide-title">Просто|Торговый</h3>
                                        <div class="tariffs__slide-subtitle">Бесплатный торговый эквайринг</div>
                                        <div class="tariffs__slide-desc">
                                            <div class="tariffs__slide-desc-info"><span>Обслуживание</span><span>Бесплатно по акции с 01.09.2020 по 31.12.2020</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Платежка</span><span>Бесплатно</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам в др. банки</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Переводы физ.лицам внутри Банка</span><span>Бесплатно до <span>500 000 ₽</span></span></div>
                                            <div class="tariffs__slide-desc-info"><span>Снятие</span><span><span>от 1%</span>от суммы снятия</span></div>
                                            <div class="tariffs__slide-desc-info"><span>Зачисление на счет</span><span>Бесплатно</span></div>
                                        </div>
                                        <div class="tariffs__slide-btn">
                                            <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tariffs__pdf">
                        <a href="#">
                            <svg>
                                <use xlink:href="#pdf-ico"></use>
                            </svg>
                            <span>Полное описание тарифов</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="press-center grey-block">
            <div class="mbox">
                <div class="press-center__inner">
                    <h2 class="title press-center__title">Пресс-центр</h2>
                    <div class="tabs">
                        <div class="tabs__row">
                            <a href="#" class="tabs__tab active">Новости</a>
                            <a href="#" class="tabs__tab">Акции</a>
                            <a href="#" class="tabs__tab">События</a>
                            <a href="#" class="tabs__tab">Информация для клиентов</a>
                            <a href="#" class="tabs__tab">СМИ о нас</a>
                        </div>
                        <a href="#" class="tabs__link">
                            <span>Все новости</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="services__inner services__slider">
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img label label--green-sticker">
                                <img src="images/press-center-01.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">НовостиБесплатный эквайринг. Бесплатный терминал. Уникальное предложение для малого бизнеса.</h3>
                            <div class="services__desc">Мы сделали уникальный тарифный план для тех, кому необходим торговый эквайринг!</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img">
                                <img src="images/press-center-02.png" alt="">
                            </div>
                            <div class="services__date">04/09</div>
                            <h3 class="services__title">«Просто|Банк» запускает Торговый эквайринг</h3>
                            <div class="services__desc">«Просто|Банк» рад информировать о запуске Торгового эквайринга. Мы развиваемся вместе с вами и знаем, на сколько важно вашему бизнесу всегда оставаться на связи.</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img label label--bank-sticker">
                                <img src="images/press-center-03.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">Мы «ЗА» самых быстрых</h3>
                            <div class="services__desc">Мы «ЗА» самых быстрых
                                Рынок знает, что предприниматели, которые принимают быстрые и правильные решения успешны. Мы знаем, что банковские решения, которые предлагает «Просто|Банк» - ... </div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-block service-block--mobile reverse">
            <div class="mbox">
                <div class="service-block__row border border--1">
                    <div class="service-block__decor service-block__decor--3">
                        <img src="images/service-block-decor-03.png" alt="">
                    </div>
                    <div class="service-block__img-wrap">
                        <div class="service-block__img">
                            <img src="images/mobile-img.png" alt="">
                        </div>
                    </div>
                    <div class="service-block__content">
                        <h2 class="title service-block__title">Мобильное приложение</h2>
                        <div class="list list--big service-block__list">
                            <div class="list__item">Быстро получить статус самозанятого</div>
                            <div class="list__item">Оплачивать (интернет, мобильную связь, заказы в интернет-магазинах, ГИБДД и пр.)</div>
                            <div class="list__item">Совершать переводы на счет другого клиента и карту любого Банка</div>
                            <div class="list__item">Подача заявки на открытие счета в Приложении</div>
                            <div class="list__item">Сервисы по адаптации мигрантов в России</div>
                            <div class="list__item">Получение кредитов- получение ИНН через Приложение</div>
                        </div>
                        <div class="service-block__btn">
                            <a href="" class="btn btn--border btn--blue">
                                <svg>
                                    <use xlink:href="#ios-app-ico"></use>
                                    <span>App Store</span>
                                </svg>
                            </a>
                            <a href="#" class="btn btn--border btn--green">
                                <svg>
                                    <use xlink:href="#android-app-ico"></use>
                                </svg>
                                <span>Google Play</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Оставьте заявку на открытие счета за 5 минут</h2>
                    <div class="request__subtitle">Заполните анкету и принимайте платежи</div>
                    <div class="request__btn">
                        <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                    </div>
                    <div class="request__decor">
                        <img src="images/decor/bank-sticker.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="questions">
            <div class="mbox">
                <div class="questions__inner border border--1">
                    <h2 class="title questions__title">Частые вопросы</h2>
                    <div class="questions__accord">
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">В каком банке будет открыт счёт?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">Что такое «Просто|Банк»?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">У меня есть счёт в другом банке. Что делать?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                        <div class="questions__accord-row">
                            <div class="questions__accord-head js-accord-head">Застрахованы ли средства на счете?</div>
                            <div class="questions__accord-content js-accord-content">Вы можете иметь несколько счетов в разных банках − для этого не нужно уведомлять налоговую (банки делают это самостоятельно). Иметь счета в нескольких банках безопаснее, чем держать все деньги в одном.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>