//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="breadcrumbs">
            <div class="mbox">
                <ul class="breadcrumbs__list">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О банке</a></li>
                    <li><a href="#">Партнеры</a></li>
                </ul>
            </div>
        </div>
        <section class="partners">
            <div class="mbox">
                <h1 class="main-title">Партнеры</h1>
                <div class="partners__inner">
                    <div class="partners__row">
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-1.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-3.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-2.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-3.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-1.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-2.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-3.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-1.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-2.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-1.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-2.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="partners__item">
                            <div class="partners__logo">
                                <img src="images/partners-img-2.svg" alt="">
                            </div>
                            <div class="partners__content border border--1 border--hover">
                                <div class="partners__title">Яндекс Директ</div>
                                <div class="partners__desc">10 000 руб на первую рекламу в Яндекс.Директе при пополнении кабинета минимум на 3 500 руб</div>
                                <a href="#" class="partners__more">
                                    <span>Подробнее</span>
                                    <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Оставьте заявку на открытие счета за 5 минут</h2>
                    <div class="request__subtitle">Заполните анкету и принимайте платежи</div>
                    <div class="request__btn">
                        <a href="#open-account" data-fancybox class="btn-custom btn-custom--blue">Открыть счет</a>
                    </div>
                    <div class="request__decor">
                        <img src="images/decor/bank-sticker.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>