//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <section class="press-center-detail">
            <div class="press-center-detail__banner">
                <img src="images/press-center-detail-banner.jpg" alt="">
                <div class="press-center-detail__content-wrap">
                    <div class="mbox">
                        <div class="press-detail">
                            <div class="press-center-detail__content">
                                <div class="press-center-detail__head">
                                    <div class="back-btn">
                                        <a href="#">
                                            <svg><use xlink:href="#arrow-right-ico"></use></svg>
                                            <span>Все новости</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="press-center-detail__bottom">
                                    <h1 class="main-title press-center-detail__title">Как встать на учёт по безработице</h1>
                                    <div class="press-center-detail__date">13.07.2020</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="press-center">
            <div class="mbox">
                <div class="press-detail">
                    <div class="press-detail__content">
                        <p>Биржа труда платит пособие, старается найти новую работу и может даже предложить обучение. Рассказываем, почему зарегистрироваться на бирже труда лучше прямо сейчас, пока действуют повышенные лимиты.</p>
                        <h3>Как понять, что пора встать на учёт</h3>
                        <p>Поиск новой работы в кризис происходит дольше и сложнее, чем обычно. Государство пытается поддержать занятость населения, поэтому существует биржа труда. Биржа — государственная структура. <br><br>
                            Зарегистрироваться на бирже труда просто, покинуть её, если вы нашли работу — тоже. А во время поиска работы материальная поддержка в виде 1500-12130 руб. в месяц не будет лишней. Но это не единственная причина встать на учёт: помимо пособия по безработице на бирже можно получить направление на работу, а также стипендию за обучение.</p>
                        <h3>Как и куда подавать заявление</h3>
                        <p>Поиск новой работы в кризис происходит дольше и сложнее, чем обычно. Государство пытается
                            поддержать занятость населения, поэтому существует биржа труда. Биржа — государственная
                            структура. <br><br>
                            Зарегистрироваться на бирже труда просто, покинуть её, если вы нашли
                            работу —
                            тоже. А во время поиска работы материальная поддержка в виде 1500-12130 руб. в месяц не будет лишней. Но это не единственная причина встать на учёт: помимо пособия по безработице на бирже можно получить направление на работу, а также стипендию за обучение.</p>
                        <h3>Как и куда подавать заявление</h3>
                        <p>Поиск новой работы в кризис происходит дольше и сложнее, чем обычно. Государство пытается
                            поддержать занятость населения, поэтому существует биржа труда. Биржа — государственная
                            структура. <br><br>
                            Зарегистрироваться на бирже труда просто, покинуть её, если вы нашли
                            работу —
                            тоже. А во время поиска работы материальная поддержка в виде 1500-12130 руб. в месяц не будет лишней. Но это не единственная причина встать на учёт: помимо пособия по безработице на бирже можно получить направление на работу, а также стипендию за обучение.</p>
                        <img src="images/press-detail.jpg" alt="">
                        <h3>Как и куда подавать заявление</h3>
                        <p>Поиск новой работы в кризис происходит дольше и сложнее, чем обычно. Государство пытается
                            поддержать занятость населения, поэтому существует биржа труда. Биржа — государственная
                            структура. <br><br>
                            Зарегистрироваться на бирже труда просто, покинуть её, если вы нашли
                            работу —
                            тоже. А во время поиска работы материальная поддержка в виде 1500-12130 руб. в месяц не будет лишней. Но это не единственная причина встать на учёт: помимо пособия по безработице на бирже можно получить направление на работу, а также стипендию за обучение.</p>
                    </div>
                </div>
                <h2 class="title center-title">Рекомендуемые статьи</h2>
                <div class="services__inner services__slider">
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img ">
                            <img src="images/press-center-01.png" alt="">
                        </div>
                        <div class="services__date">07/09</div>
                        <h3 class="services__title">НовостиБесплатный эквайринг. Бесплатный терминал. Уникальное предложение для малого бизнеса.</h3>
                        <div class="services__desc">Мы сделали уникальный тарифный план для тех, кому необходим торговый эквайринг!</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img">
                            <img src="images/press-center-02.png" alt="">
                        </div>
                        <div class="services__date">04/09</div>
                        <h3 class="services__title">«Просто|Банк» запускает Торговый эквайринг</h3>
                        <div class="services__desc">«Просто|Банк» рад информировать о запуске Торгового эквайринга. Мы развиваемся вместе с вами и знаем, на сколько важно вашему бизнесу всегда оставаться на связи.</div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="services__item border border--1 border--hover">
                        <div class="services__img label label--bank-sticker">
                            <img src="images/press-center-03.png" alt="">
                        </div>
                        <div class="services__date">07/09</div>
                        <h3 class="services__title">Мы «ЗА» самых быстрых</h3>
                        <div class="services__desc">Мы «ЗА» самых быстрых
                            Рынок знает, что предприниматели, которые принимают быстрые и правильные решения успешны. Мы знаем, что банковские решения, которые предлагает «Просто|Банк» - ... </div>
                        <div class="services__link">
                            <span>Подробнее</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="press-center__more">
                    <div class="btn btn--blue btn--border">Загрузит еще</div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Оставьте заявку на открытие счета за 5 минут</h2>
                    <div class="request__subtitle">Заполните анкету и принимайте платежи</div>
                    <div class="request__btn">
                        <a href="#" class="btn-custom btn-custom--blue">Открыть счет</a>
                    </div>
                    <div class="request__decor">
                        <img src="images/decor/bank-sticker.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>