//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="breadcrumbs">
            <div class="mbox">
                <ul class="breadcrumbs__list">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О банке</a></li>
                    <li><a href="#">Пресс-центр</a></li>
                </ul>
            </div>
        </div>
        <section class="press-center">
            <div class="mbox">
                <h1 class="main-title">Пресс-центр</h1>
                <div class="press-center__inner">
                    <div class="tabs">
                        <div class="tabs__row">
                            <a href="#" class="tabs__tab active">Все</a>
                            <a href="#" class="tabs__tab">Новости</a>
                            <a href="#" class="tabs__tab">События банка</a>
                            <a href="#" class="tabs__tab">Информация для клиентов</a>
                            <a href="#" class="tabs__tab">Мы в прессе</a>
                        </div>
                        <a href="#" class="tabs__link">
                            <span>Все новости</span>
                            <svg>
                                <use xlink:href="#arrow-right-ico"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="services__inner">
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img ">
                                <img src="images/press-center-01.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">НовостиБесплатный эквайринг. Бесплатный терминал. Уникальное предложение для малого бизнеса.</h3>
                            <div class="services__desc">Мы сделали уникальный тарифный план для тех, кому необходим торговый эквайринг!</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img">
                                <img src="images/press-center-02.png" alt="">
                            </div>
                            <div class="services__date">04/09</div>
                            <h3 class="services__title">«Просто|Банк» запускает Торговый эквайринг</h3>
                            <div class="services__desc">«Просто|Банк» рад информировать о запуске Торгового эквайринга. Мы развиваемся вместе с вами и знаем, на сколько важно вашему бизнесу всегда оставаться на связи.</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img label label--bank-sticker">
                                <img src="images/press-center-03.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">Мы «ЗА» самых быстрых</h3>
                            <div class="services__desc">Мы «ЗА» самых быстрых
                                Рынок знает, что предприниматели, которые принимают быстрые и правильные решения успешны. Мы знаем, что банковские решения, которые предлагает «Просто|Банк» - ... </div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img ">
                                <img src="images/press-center-01.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">НовостиБесплатный эквайринг. Бесплатный терминал. Уникальное предложение для малого бизнеса.</h3>
                            <div class="services__desc">Мы сделали уникальный тарифный план для тех, кому необходим торговый эквайринг!</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img">
                                <img src="images/press-center-02.png" alt="">
                            </div>
                            <div class="services__date">04/09</div>
                            <h3 class="services__title">«Просто|Банк» запускает Торговый эквайринг</h3>
                            <div class="services__desc">«Просто|Банк» рад информировать о запуске Торгового эквайринга. Мы развиваемся вместе с вами и знаем, на сколько важно вашему бизнесу всегда оставаться на связи.</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img label label--bank-sticker">
                                <img src="images/press-center-03.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">Мы «ЗА» самых быстрых</h3>
                            <div class="services__desc">Мы «ЗА» самых быстрых
                                Рынок знает, что предприниматели, которые принимают быстрые и правильные решения успешны. Мы знаем, что банковские решения, которые предлагает «Просто|Банк» - ... </div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img ">
                                <img src="images/press-center-01.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">НовостиБесплатный эквайринг. Бесплатный терминал. Уникальное предложение для малого бизнеса.</h3>
                            <div class="services__desc">Мы сделали уникальный тарифный план для тех, кому необходим торговый эквайринг!</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img">
                                <img src="images/press-center-02.png" alt="">
                            </div>
                            <div class="services__date">04/09</div>
                            <h3 class="services__title">«Просто|Банк» запускает Торговый эквайринг</h3>
                            <div class="services__desc">«Просто|Банк» рад информировать о запуске Торгового эквайринга. Мы развиваемся вместе с вами и знаем, на сколько важно вашему бизнесу всегда оставаться на связи.</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img label label--bank-sticker">
                                <img src="images/press-center-03.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">Мы «ЗА» самых быстрых</h3>
                            <div class="services__desc">Мы «ЗА» самых быстрых
                                Рынок знает, что предприниматели, которые принимают быстрые и правильные решения успешны. Мы знаем, что банковские решения, которые предлагает «Просто|Банк» - ... </div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img ">
                                <img src="images/press-center-01.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">НовостиБесплатный эквайринг. Бесплатный терминал. Уникальное предложение для малого бизнеса.</h3>
                            <div class="services__desc">Мы сделали уникальный тарифный план для тех, кому необходим торговый эквайринг!</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img">
                                <img src="images/press-center-02.png" alt="">
                            </div>
                            <div class="services__date">04/09</div>
                            <h3 class="services__title">«Просто|Банк» запускает Торговый эквайринг</h3>
                            <div class="services__desc">«Просто|Банк» рад информировать о запуске Торгового эквайринга. Мы развиваемся вместе с вами и знаем, на сколько важно вашему бизнесу всегда оставаться на связи.</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img label label--bank-sticker">
                                <img src="images/press-center-03.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">Мы «ЗА» самых быстрых</h3>
                            <div class="services__desc">Мы «ЗА» самых быстрых
                                Рынок знает, что предприниматели, которые принимают быстрые и правильные решения успешны. Мы знаем, что банковские решения, которые предлагает «Просто|Банк» - ... </div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img ">
                                <img src="images/press-center-01.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">НовостиБесплатный эквайринг. Бесплатный терминал. Уникальное предложение для малого бизнеса.</h3>
                            <div class="services__desc">Мы сделали уникальный тарифный план для тех, кому необходим торговый эквайринг!</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img">
                                <img src="images/press-center-02.png" alt="">
                            </div>
                            <div class="services__date">04/09</div>
                            <h3 class="services__title">«Просто|Банк» запускает Торговый эквайринг</h3>
                            <div class="services__desc">«Просто|Банк» рад информировать о запуске Торгового эквайринга. Мы развиваемся вместе с вами и знаем, на сколько важно вашему бизнесу всегда оставаться на связи.</div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="services__item border border--1 border--hover">
                            <div class="services__img label label--bank-sticker">
                                <img src="images/press-center-03.png" alt="">
                            </div>
                            <div class="services__date">07/09</div>
                            <h3 class="services__title">Мы «ЗА» самых быстрых</h3>
                            <div class="services__desc">Мы «ЗА» самых быстрых
                                Рынок знает, что предприниматели, которые принимают быстрые и правильные решения успешны. Мы знаем, что банковские решения, которые предлагает «Просто|Банк» - ... </div>
                            <div class="services__link">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="#arrow-right-ico"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="press-center__more">
                        <div class="btn btn--blue btn--border">Загрузит еще</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Оставьте заявку на открытие счета за 5 минут</h2>
                    <div class="request__subtitle">Заполните анкету и принимайте платежи</div>
                    <div class="request__btn">
                        <a href="#" class="btn-custom btn-custom--blue">Открыть счет</a>
                    </div>
                    <div class="request__decor">
                        <img src="images/decor/bank-sticker.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>