//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <section class="page-banner">
            <div class="page-banner__inner">
                <div class="page-banner__row">
                    <div class="mbox">
                        <div class="page-banner__left">
                            <div class="page-banner__content">
                                <h1 class="main-title page-banner__title">Партнерам</h1>
                                <div class="page-banner__subtitle">Группа Газпромбанка</div>
                                <div class="page-banner__desc">Просто|Банк создан на инфраструктуре Банка «КУБ» (АО), входящего в Группу Газпромбанка, с использованием современных технологий. Это позволяет нашим клиентам получать все преимущества крупного банка с удобством технологичных сервисов.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-banner__img">
                    <img src="images/to-partners-banner.png" alt="">
                    <img src="images/page-banner-mobile.png" alt="">
                </div>
            </div>
        </section>
        <section class="privilege">
            <div class="mbox">
                <div class="privilege__inner">
                    <h2 class="privilege__title title">Надёжный банк</h2>
                    <div class="privilege__subtitle">Лучшие возможности для бизнеса</div>
                    <div class="privilege__terms">
                        <div class="privilege__head">
                            <img src="images/privilege-head-img.png" alt="">
                        </div>
                        <div class="privilege__line">
                            <div class="privilege__line-item">
                                <div class="privilege__line-text">26</div>
                                <div class="privilege__line-desc">лет опыта</div>
                            </div>
                            <div class="privilege__line-item">
                                <div class="privilege__line-text">ТОП-3</div>
                                <div class="privilege__line-desc">крупнейших банковских групп</div>
                            </div>
                            <div class="privilege__line-item">
                                <div class="privilege__line-text">ruA+</div>
                                <div class="privilege__line-desc">рейтинг кредитоспособности</div>
                            </div>
                            <div class="privilege__line-item">
                                <div class="privilege__line-img">
                                    <img src="images/privilege-line-img.svg" alt="">
                                </div>
                                <div class="privilege__line-desc">средства на счетах ИП застрахованы</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="privilege">
            <div class="mbox">
                <div class="privilege__inner">
                    <h2 class="privilege__title title">Преимущества расчётного счёта</h2>
                    <div class="privilege__subtitle">Лучшие возможности для бизнеса</div>
                    <div class="privilege__row">
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <svg><use xlink:href="#privilege-ico-4"></use></svg>
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Просто удобный личный кабинет</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <svg><use xlink:href="#privilege-ico-5"></use></svg>
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Интеграция по API</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <svg><use xlink:href="#privilege-ico-6"></use></svg>
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Вся работа ведется через браузер в личном кабинете</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <svg><use xlink:href="#privilege-ico-7"></use></svg>
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Уведомления о ходе рассмотрения заявки</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <svg><use xlink:href="#privilege-ico-8"></use></svg>
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Размещайте реферальную ссылка на сайт и получайте доход</div>
                            </div>
                        </div>
                        <div class="privilege__item">
                            <div class="privilege__ico">
                                <svg><use xlink:href="#privilege-ico-9"></use></svg>
                            </div>
                            <div class="privilege__desc">
                                <div class="privilege__desc-title">Оперативный процесс предварительной проверки клиента</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="connect">
            <div class="mbox">
                <div class="connect__inner">
                    <h2 class="title connect__title">Как стать партнером?</h2>
                    <div class="connect__content">
                        <div class="connect__row">
                            <div class="connect__item active">
                                <div class="connect__ico">
                                    <svg><use xlink:href="#connect-ico-1"></use></svg>
                                </div>
                                <div class="connect__item-title">Оставьте заявку</div>
                                <div class="connect__item-desc">Стать партнером и завести первую заявку можно за 5 минут</div>
                            </div>
                            <div class="connect__item">
                                <div class="connect__ico">
                                    <svg><use xlink:href="#connect-ico-2"></use></svg>
                                </div>
                                <div class="connect__item-title">Загрузить документы</div>
                                <div class="connect__item-desc">Загрузить документы может партнер или клиент через личный кабинет</div>
                            </div>
                            <div class="connect__item">
                                <div class="connect__ico">
                                    <svg><use xlink:href="#connect-ico-4"></use></svg>
                                </div>
                                <div class="connect__item-title">Занимайтесь сопровождением</div>
                                <div class="connect__item-desc">Занимайтесь сопровождением клиента или передайте “горячего” клиента в Банк</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="request">
            <div class="mbox">
                <div class="request__inner">
                    <h2 class="title request__title">Зарегистрируйте и начните зарабатывать</h2>
                    <div class="request__subtitle">Заполните информацию</div>
                    <div class="request__form">
                        <form class="form">
                            <div class="form__row">
                                <div class="popup__field">
                                    <input type="text" name="user-inn" required>
                                    <span class="form__label">ФИО*</span>
                                </div>
                                <div class="popup__field">
                                    <input type="text" class="tel-mask" name="user-phone1" required>
                                    <span class="form__label">Телефон*</span>
                                </div>
                                <div class="popup__field">
                                    <input type="email" name="user-email">
                                    <span class="form__label">Электронный адрес</span>
                                </div>
                                <div class="popup__field">
                                    <div class="select">
                                        <select class="js-select-3" name="user-city">
                                            <option value=""></option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                            <option value="">Выбор города</option>
                                        </select>
                                    </div>
                                    <span class="form__label select__label">Выбор города</span>
                                </div>
                            </div>
                            <div class="popup__confirm">
                                <div class="popup__accept">
                                    <label>
                                        <input type="checkbox" class="checkbox" required name="user-accept">
                                        <span class="checkbox-fake"></span>
                                        <span class="popup__accept-text">Я подтверждаю согласие с <a
                                                href="#">условиями передачи информации</a></span>
                                    </label>
                                </div>
                                <div class="popup__confirm-btn">
                                    <button class="btn-custom btn-custom--blue">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>