/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;font-size: 10px;}
body{min-height:100%;  height: 100%;width:100%;min-width:320px;font-family: 'Montserrat', sans-serif;
;background:#fff;color:#212121;position:relative;font-size: 1.6rem;line-height: 1.25;}
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:123rem;width:100%;margin:0 auto;position:relative;z-index:1;padding:0 1.5rem;
    &--small {max-width:822px;}
    &--big {max-width: 1440px;padding: 0;}
}
.global-wrapper{display: flex; flex-direction: column; height: 100%;}
footer {flex-grow: 0;  flex-shrink: 0;  flex-basis: auto; }
.main{flex-grow: 1; flex-shrink: 0; flex-basis: auto;}
input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}
a {color:#212121;text-decoration: none;transition:color .3s;}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

.btn {font-size: 1.4rem;font-weight: 500;line-height: 2rem;text-align: center;transition:color .3s, background-color .3s, border-color .3s;padding:1.5rem 2.7rem;white-space:nowrap;cursor:pointer;border-radius:2px;display:inline-flex;align-items:center;background-color: #fff;
    svg {width: 16px;height: 16px;margin-right: 10px;}
    &--border {border:1px solid transparent}
    &--blue {border-color:#0071B6;color:#0071B6;
        svg {fill:#0071B6;transition:fill .3s;}
        &:hover {background-color: #0071B6;color:#fff;
            svg {fill:#fff;}
        }
    }
    &--green {border-color:#ABD526;color:#ABD526;
        svg {fill:#ABD526;transition:fill .3s;}
        &:hover {background-color: #ABD526;color:#fff;
            svg {fill:#fff;}
        }
    }
}
.btn-custom {padding:16px 64px;color:#fff;transition:color .3s, background-color .3s;border:none;text-align: center;border-radius:2px;font-size: 1.4rem;line-height: 2rem;font-weight: 500;cursor:pointer;display: inline-block;
    &--blue {background-color: #0071B6;box-shadow: 0 20px 30px rgba(0, 113, 182, 0.2);
        &:hover {background-color: #005182;}
    }
}
.back-btn {font-size: 1.4rem;line-height: 2rem;font-weight: 500;
    svg {width: 16px;height: 16px;fill:#0071B6;transform:rotate(180deg);margin-right: 5px;}
    a {display: flex;align-items:center;}
    span {color:#0071B6;}
}
.main-title {font-size: 4.8rem;line-height: 5.8rem;font-weight: 700;color:#000;text-align: center;margin:40px 0 55px;}
.center-title {text-align: center;}
.breadcrumbs {margin:28px 0 0;
    &__list {display: flex;list-style:none;margin: 0 0 0 2px;padding: 0;white-space:nowrap;overflow:auto;
        a {color:#e0e0e0;font-size: 1.2rem;line-height: 1.7rem;font-weight: 500;
            &:after {content:'/';margin-left: 3px;}
        }
        li {
            &:last-child {
                a {pointer-events:none;color:#212121;
                    &:after {display: none;}
                }
            }
        }
        li + li {margin-left: 3px;}
    }
}
.header {z-index: 10;
    &__app {display: none;}
    &__inner {display: flex;align-items: center;}
    &__logo {margin-right: 6%;
        svg {width: 180px;height: 36px;}
    }
    &__middle {display: flex;flex-wrap:wrap;max-width:74rem;
        svg {fill:#0071B6;transition:fill .3s;}
    }
    &__top {display: flex;align-items:center;margin-right: 30px;padding:1.9rem 0 1.6rem;
        svg {width: 16px;height: 16px;}
        &-box {display: flex;align-items:center;}
    }
    &__atm {display: flex;align-items: center;transition:color .3s;cursor:pointer;
        svg {margin-right: 6px;}
        span {font-size: 1.3rem;line-height: 2rem;}
        &:hover {color:#0071B6;}
    }
    &__eye {margin-left: 3.1rem;display: flex;cursor:pointer;
        &:hover {
            svg {fill:#ABD526}
        }
        a {display: flex;}
    }
    &__search {margin-left: 3.1rem;display: flex;position: relative;
        &-link {display: flex;cursor:pointer;border:none;padding: 0;background-color: transparent;align-items:center;
            &:hover {
                svg {fill:#ABD526}
            }
        }
        &-inner {display: flex;align-items: center;position: absolute;right: -10px;top: 50%;transform:translateY(-50%);transition:max-width .3s, padding .3s;pointer-events:none;background-color: #f4f4f6;padding: 8px 0;border-radius:2px;max-width:0;overflow:hidden;
            input {padding: 0;border:none;width: 165px;background: transparent;padding-right: 10px;transition: max-width .3s;}
            &.opened {max-width:201px;pointer-events:all;padding:8px 10px}
        }
    }
    &__bottom {display: flex;align-items:center;padding:22px 0 16px;}
    &__phone {font-size: 1.8rem;line-height: 2.2rem;margin-right: 3rem;font-weight: 500;transition:color .3s;
        &:hover {color:#0071B6;}
    }
    &__socials {display: flex;align-items: center;margin: 0 -6px;}
    &__social {margin:0 6px;display: flex;
        svg {width: 18px;height: 18px;}
        &:hover {
            svg {fill:#ABD526}
        }
    }
    &__nav {display: flex;border-top: 1px solid #f2f2f2;width: 100%;
        &-item {margin-right: 20px;
            &--is-submenu {position: relative;
                .header__nav-link {padding-right: 1.6rem;position: relative;
                    &:before {content:'';position: absolute;border-bottom: 1px solid #BDBDBD;border-right: 1px solid #BDBDBD;width: 7px;height: 7px;transform:rotate(45deg);right: 3px;top: 20px;}
                }
            }
        }
        &-link {padding:16px 0 24px;display: inline-block;}
        a {font-size: 1.4rem;line-height: 2rem;transition:color .3s;
            &:hover {color:#0071B6;}
        }
    }
    &__personal {flex-grow:1;display: flex;justify-content: flex-end;margin-left: 10px;
        .btn {
            span:nth-child(2) {display: none;}
        }
    }
    &__mobmenu {display: none;
        &.active {
            .hamburger3 > .bar1{
                transform: rotate(45deg);
                height: 2px;
                width: 19px;
            }

            .hamburger3 > .bar3{
                transform: rotate(45deg);
                height: 2px;
                background-color: transparent;
            }

            .hamburger3 > .bar2{
                transform: rotate(-45deg);
                height: 2px;
                background-color: transparent;
            }

            .hamburger3 > .bar4{
                transform: rotate(-45deg);
                height: 2px;
                width: 19px;
            }
        }
    }
}
.banner {background-image: url('../images/main-banner-decor.jpg');position: relative;height:455px;background-repeat:repeat;
    &__arrows {position: absolute;max-width:1200px;top: 0;bottom: 0;margin:0 auto;width: 100%;left: 50%;transform:translateX(-50%);pointer-events:none;}
    &__slider {margin-bottom: 0;
        &-arrow {width: 36px;height: 36px;background-color: #fff;position: absolute;;min-width:36px;min-height:36px;top: auto;bottom: 60px;cursor:pointer;pointer-events:all;border-radius:2px;transition:background-color .3s;
            &:before {content:'';position: absolute;top: 50%;left: 60%;transform:translate(-50%, -50%) rotate(45deg);border-bottom: 2px solid #0071b6;border-left: 2px solid #0071B6;width: 10px;height: 10px;display: inline-block;transition:border-color .3s;}
            &:hover {background-color: #0071b6;
                &:before {border-color:#fff;}
            }
        }
        &-arrow.next {right: 6px;z-index: 1;
            &:before {transform:translate(-50%, -50%) rotate(-135deg);left: 45%;}
        }
        &-arrow.prev {right: 58px;}
        .slick-dots {bottom: 55px;margin: 0;
            li {width: 16px;height: 3px;margin:0 8px;background-color: #fff;overflow:hidden;
                &:before {content:'';position:absolute;top: 0;left: 0;right: 0;bottom: 0;transform:translateX(-100%);background-color: #0071B6;}
                button {width: 16px;height: 3px;padding: 0;display: block;
                    &:before {display: none;}
                }
                &.slick-active {
                    &:before {transform:translateX(0);transition:transform 3s;}
                }
            }
        }
    }
    &__slide {position: relative;max-width:1440px;margin:0 auto;
        img {height: 100%;object-fit:cover;object-position:left;}
    }
    &__img {
        img {
            &:nth-child(2) {display: none;}
        }
    }
    &__content {position: absolute;top: 0;bottom: 0;margin:50px 68px;padding:17px 64px 12px 49px;display: flex;flex-direction:column;justify-content:space-between;
        &:before {content:'';position: absolute;top: 0;left: 0;right: 0;bottom: 32px;background-color: #fff;transform:rotate(-1.74deg);}
        &-decor {position: absolute;top: 0;left: 0;right: 0;
            &:before {content:'';width: 17px;height: 19px;display: inline-block;background-image: url('../images/decor/green-pin.svg');background-size:contain;background-position:center;background-repeat:no-repeat;position:absolute;top: 17px;left: 1px;}
            &:after {content:'';width: 9px;height: 17px;display: inline-block;background-image: url('../images/decor/blue-pin.svg');background-size:contain;background-position:center;background-repeat:no-repeat;position: absolute;right: 19px;top: 8px;}
        }
    }
    &__title {position: relative;font-family: 'Caveat', cursive;font-size: 7.2rem;line-height: 8.6rem;margin-bottom: 7px;color:#0071B6;}
    &__text {position: relative;font-family: 'Caveat', cursive;font-size: 3.6rem;line-height: 5rem;
    }
    &__btn {position: relative;}
}
.border {border: 1px solid #fff;border-radius:2px;
    &--1 {border-image: linear-gradient(#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526) 1;
        &.border--hover {border-image:none;
            &:hover {border-image: linear-gradient(#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526) 1!important;}
        }
    }
}

//border-image: conic-gradient(#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#0071b6,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526,#abd526) 1;

.label {position: relative;
    &:before {content:'';position: absolute;
    }
    &--green-sticker {
        &:before {background-image: url('../images/decor/green-sticker-01.png');width: 97px;height: 88px;left: 62px;top: -6px;}
    }
    &--bank-sticker {
        &:before {background-image: url('../images/decor/bank-sticker.svg');top: 51px;left: 33px;width: 64px;height: 70px;}
    }
}
@keyframes labelAnim {
    0% {transform:rotate(0deg)}
    25% {transform:rotate(-15deg)}
    75% {transform:rotate(15deg)}
    100% {transform:rotate(0deg)}
}
@keyframes bankIcoAnim {
    0% {opacity:1}
    25% {opacity:.5}
    50% {opacity:0}
    75% {opacity:.5}
    10% {opacity:1}
}
.title {font-size: 2.8rem;line-height: 3.4rem;color:#212121;margin:0 0 1.6rem;font-weight: 700;}
.advantages {margin:125px 0;
    &__inner {padding:52px 40px 49px;}
    &__subtitle {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;margin-bottom: 40px;color:#000;}
    &__desc {font-size: 1.4rem;line-height: 2rem;color:#000;margin-bottom: 46px;max-width:752px;}
    &__row {display: flex;margin: 0 -50px;}
    &__item {width: 25%;margin:0 50px;
        &-desc {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;}
    }
    &__ico {margin-bottom: 40px;}
}
.services {margin:125px 0 97px;
    &__inner {display: flex;margin:0 -15px -24px;flex-wrap:wrap;
        &:not(.services__slider) {
            .services {
                &__item {width:calc(33.33% - 26px);}
            }
        }
    }
    &__slider {margin-top: -40px;margin-bottom: -40px;
        .slick-list {padding:40px 15px;}
        .slick-list, .slick-track {display: flex;}
    }
    &__item {margin:0 13px 24px;width:382px;position: relative;padding-bottom: 60px;padding-top: 280px;transition: box-shadow .3s;border-image:linear-gradient(#f4f4f6, #f4f4f6) 1!important;background-color: #fff;
        &:hover {
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
            .services {
                &__link {
                    svg {fill:#0071B6;}
                    span {width: 85px;margin-right: 5px;}
                }
                &__title {color:#0071B6;}
            }
            .label {
                &--green-sticker {
                    &:before {animation:labelAnim .5s;}
                }
                &--bank-sticker {
                    &:before {animation:bankIcoAnim .7s;}
                }
            }
        }
    }
    &__img {position: absolute;top: -20px;text-align: center;left: 0;right: 0;}
    &__title {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;padding:0 40px;margin: 0 0 20px;transition:color .3s;}
    &__desc {font-size: 1.4rem;line-height: 2rem;margin-bottom: 16px;padding:0 40px;}
    &__link {position: absolute;left: 40px;bottom: 40px;display: flex;align-items:center;
        svg {width: 16px;height: 16px;fill:#000;transition:fill .3s;margin-top: 1px;}
        span {font-size: 1.4rem;line-height: 2rem;font-weight: 500;color:#0071B6;width: 0;transition:width .3s;overflow:hidden;}
    }
    &__date {font-size: 1.6rem;line-height: 1.9rem;font-weight: 500;color:#a0a0a0;margin-bottom: 20px;padding:0 40px;}
    &__head {text-align: center;
        &-subtitle {font-size: 1.6rem;line-height: 1.9rem;margin-bottom: 60px;}
    }
}
.list {
    &__item {position: relative;max-width:420px;padding-left: 32px;font-size: 1.4rem;line-height: 2rem;margin-bottom: 16px;
        &:last-child {margin-bottom: 0;}
        &:before {content:'';position:absolute;width: 8px;height: 8px;border-radius:50%;background-color: #0071B6;left: 0;top: 7px;}
    }
    &--big {
        .list {margin-bottom: 39px;
            &__item {padding-left: 40px;font-size: 1.6rem;line-height: 2.6rem;margin-bottom: 24px;max-width:444px;
                &:last-child {margin-bottom: 0;}
                &:before {width: 10px;height: 10px;}
            }
        }
    }
}
.quick-work {background-size:contain;
    &__banner {max-width:1440px;margin: 0 auto;padding:50px 0 57px;background-position:40% 50%;}
    &__content {max-width:615px}
    &__subtitle {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;margin-bottom: 40px;}
    &__list {margin-bottom: 40px;}
    &__progress {display: flex;margin-bottom: 40px;
        &-item {width: 25%;padding-right: 10px;
            &:last-child {
                *:before {display: none;}
            }
        }
        &-ico {margin-bottom: 19px;position: relative;
            &:before {content:'';width: 103px;height: 1px;background-color: #E0E0E0;position: absolute;top: 50%;right: 0;transform:translateY(-50%);}
            svg {width: 32px;height: 32px;}
            &.active {
                &:after {content:'';width: 63px;height: 1px;background-color: #ABD526;position: absolute;top: 50%;right: 40px;transform:translateY(-50%);}
            }
        }
        &-name {font-size: 1.4rem;line-height: 1.7rem;font-weight: 500;}
    }
}
.service-block {margin:100px 0;
    &.reverse {
        .service-block {
            &__row {flex-direction:row-reverse;}
            &__content {padding:52px 0 50px 40px;}
        }
    }
    &__row {position: relative;display: flex;align-items:flex-start;
        &:hover {
            .service-block {
                &__decor {
                    &--1 {
                        img {animation:labelAnim .5s;}
                    }
                    &--2 {
                        img {animation:bankIcoAnim .7s;}
                    }
                    &--3 {
                        img {animation:labelAnim .5s;}
                    }
                }
            }
        }
    }
    &__decor {position: absolute;
        &--1 {top: -23px;left: -17px;}
        &--2 {bottom: -48px;right: -27px;}
        &--3 {top: -92px;left: -72px;}
    }
    &__content {padding:52px 40px 50px 0;max-width:484px;width: 100%;}
    &__img {
        &-wrap {flex-grow:1;display: flex;justify-content: center;}
    }
    &__title {margin-bottom: 40px;}
    &__subtitle {font-size: 1.6rem;line-height: 2.6rem;margin-bottom: 30px;}
    &__btn {display: flex;margin-top: 45px;
        .btn {
            &:not(:first-child) {margin-left: 20px;}
        }
    }
    &--terminal {
        .service-block {
            &__img {
                img {width: 90%;transform:scale(1.1) translateY(10px);}
            }
        }
    }
    &--credit {
        .service-block {
            &__img {
                img {width: 90%;transform:scale(1.1) translateY(-5px);}
                &-wrap {justify-content:flex-end;}
            }
        }
    }
    &--mobile {
        .service-block {
            &__img {
                &-wrap {justify-content:flex-end;}
            }
        }
    }
    &--use {
        .service-block {
            &__img {
                &-wrap {align-self: center;}
            }
        }
    }
}
.tariffs {margin:100px 0 150px;
    &__title {margin-bottom: 16px;}
    &__subtitle {font-size: 1.6rem;line-height: 1.9rem;margin-bottom: 10px;height: 48px;max-height:48px;overflow:hidden;}
    &__desc {font-size: 1.4rem;line-height: 2rem;font-weight: 600;
        &-item {height: 65px;padding-top: 22px;}
    }
    &__row {display: flex;justify-content:space-between;}
    &__content {padding-top: 20px;}
    &__slide {padding:40px 40px 50px;transition:box-shadow .3s;
        &.slick-slide {pointer-events:none;
            &.slick-active {pointer-events:all;}
        }
        &--blue {
            .tariffs__slide {
                &-title {color:#0071B6;}
                &-desc {
                    span span {color:#0071B6;display: inline-block;}
                }
            }
        }
        &--green {
            .tariffs__slide {
                &-title {color:#ABD526;}
                &-desc {
                    span span {color:#ABD526;display: inline-block;}
                }
            }
        }
        &:hover {box-shadow:0px 20px 30px rgba(0, 0, 0, 0.15);background-color: #fff;z-index: 2;
            .tariffs__slide-btn {opacity:1;}
        }
        &-title {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;margin: 0 0 7px;}
        &-subtitle {font-size: 1.4rem;line-height: 2rem;color:#a0a0a0;height: 51px;margin-bottom: 10px;overflow:hidden;max-height:51px;}
        &-desc {font-size: 1.4rem;line-height: 2rem;
            &-info {height: 65px;border-bottom: 1px solid #F2F2F2;padding-top: 22px;
                &> span:nth-child(1) {display: none;}
                &:last-child {margin-bottom: 20px;border-bottom: none;}
            }
        }
        &-btn {opacity:0;transition:opacity .3s;display: flex;
            .btn-custom {flex-grow:1;}
        }
    }
    &__slider {margin-bottom: 0;
        .slick-list {padding:0 15px 60px;z-index: 1;}
        &-wrap {margin:0 -15px;width: 720px;}
        .slick-dots {bottom: 25px;margin: 0;z-index: 2;
            li {width: 16px;height: 3px;margin:0 8px;background-color: #E0E0E0;overflow:hidden;
                &:before {content:'';position:absolute;top: 0;left: 0;right: 0;bottom: 0;transform:translateX(-100%);background-color: #0071B6;}
                button {width: 16px;height: 3px;padding: 0;display: block;
                    &:before {display: none;}
                }
                &.slick-active {
                    &:before {transform:translateX(0);transition:transform 3s;}
                }
            }
        }
    }
    &__pdf {display: flex;align-items:center;margin-top: -150px;
        a {display: flex;align-items:center}
        svg {width: 24px;height: 24px;fill:#0071B6;margin-right: 16px;}
        span {color:#0071B6;font-size: 1.4rem;font-weight: 500;line-height: 2rem;}
    }
    .mbox {
        & > div > a {color:#0071B6;}
    }
}
.grey-block {position: relative;
    &:before {content:'';position: absolute;top: 0;left: 0;right: 0;height: 457px;background-color: #F4F4F6;}
}
.request {margin:100px 0;
    &__inner {text-align: center;position: relative;
        &:hover {
            .request__decor {
                img {animation:bankIcoAnim .7s;}
            }
        }
    }
    &__title {margin-bottom: 16px;}
    &__subtitle {margin-bottom: 40px;}
    &__decor {position: absolute;top: 40%;right: 15%;}
    &__form {max-width: 790px;margin: 0 auto;}
}
.press-center {
    &__title {margin-bottom: 40px;padding-top: 50px;}
    .services {
        &__img {top: -5px;}
    }
    &__more {text-align: center;margin:100px 0;}
    .center-title {margin-bottom: 40px;}
    .main-title {}
}
.press-detail {max-width:792px;margin:0 auto 98px;font-size: 1.6rem;line-height: 2.5rem;
    &__content {
        p {margin:20px 0;}
        h3 {font-size: 1.8rem;line-height: 2.5rem;font-weight: 700;margin:30px 0 20px;}
    }
}
.press-center-detail {margin-bottom: 100px;margin-top: 40px;
    &__banner {position: relative;background-color: #0071b6;min-height:480px;
        & > img {height: 100%;width: auto;min-width:100%;object-fit:cover;position: absolute;
            &[src=''] {display: none;}
        }
    }
    &__content {display: flex;flex-direction:column;justify-content:space-between;padding:58px 0 50px;height: 100%;
        &-wrap {position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;
            .press-detail {margin-bottom: 0;height: 100%;}
            .back-btn {
                svg {fill:#fff;}
                span {color:#fff;}
            }
        }
    }
    &__title {max-width:500px;margin-bottom: 20px;color:#fff;text-align: left;min-width:fit-content;}
    &__date {font-weight: 500;font-size: 1.8rem;line-height: 2.5rem;color:#a0a0a0;}

}
.tabs {border-bottom: 1px solid #E6E6E6;display: flex;justify-content:space-between;margin-bottom: 50px;
    &__row {display: flex;}
    &__tab {font-size: 1.4rem;line-height: 2rem;color:#a0a0a0;position: relative;padding-bottom: 29px;overflow:hidden;margin-right: 38px;transform:translateY(1px);white-space:nowrap;cursor:pointer;
        &:before {content:'';position: absolute;bottom: 0;left: 0;right: 0;height: 1px;background-color: #0071B6;transform:translateX(-100%);transition:transform .3s;}
        &.active {color:#0071B6;
            &:before {transform:translateX(0);}
        }
        &:hover {color:#0071B6;
            &:before {transform:translateX(0);}
        }
    }
    &__link {display: flex;align-items:flex-start;font-weight: 500;font-size: 1.4rem;line-height: 2rem;color:#0071B6;white-space:nowrap;
        svg {width: 16px;height: 16px;margin-left: 5px;fill:#0071B6;margin-top: 2px;}
    }
    &__content {display: none;
        .credit-table {background-color: transparent;font-size: 1.6rem;line-height: 2.2rem;padding: 0;margin-right: 0;
            &__col {padding-left: 5px;}
        }
        &.active {display: block;}
    }
    &__sort {position: relative;color:#212121;display: flex;flex-direction:column;height: 20px;overflow:hidden;cursor:pointer;z-index: 1;
        &.active {overflow:visible;
            .tabs__sort-inner {box-shadow:0 15px 15px rgba(0,0,0,.15);}
            &:before {transform: rotate(-135deg);top: 7px;}
        }
        &:before {content: '';position: absolute;top: 3px;right: 5px;width: 10px;height: 10px;border-bottom: 2px solid #000;border-right: 2px solid #000;transform: rotate(45deg);transition: .3s;z-index: 2;}
        &-inner {display: flex;flex-direction:column;transition:box-shadow .3s;padding:0 25px 15px;position: relative;z-index: 1;background-color: #fff;}
        &-option {cursor:pointer;margin-top: 5px;transition:color .3s;
            &.active {order:-1;pointer-events:none;margin-top: 0;}
            &:hover {color:#0071b6;}
        }
    }
}
.questions {margin:100px 0 150px;
    &__inner {padding:50px 40px 26px;}
    &__title {margin-bottom: 40px;text-align: left;
        &--center {text-align: center;}
    }
    &__accord {
        &-row {border-bottom: 1px solid #F4F4F6;margin-bottom: 21px;
            &:last-child {border-bottom: none;}
            ol {margin: 0;padding-left: 16px;
              li {margin-bottom: 10px;
                &:last-child {margin-bottom: 0;}
              }
            }
        }
        &-head {position: relative;margin-bottom: 17px;font-size: 1.6rem;line-height: 2.6rem;font-weight: 500;cursor:pointer;transition: color .3s;
            &:before {content:'';position: absolute;top: 4px;right: 5px;width: 10px;height: 10px;border-bottom: 2px solid #000;border-right: 2px solid #000;transform:rotate(45deg);transition: .3s;}
            &.active {
                &:before {transform:rotate(-135deg);top: 12px;border-color:#0071B6}
            }
            &:hover {color:#0071B6;
                &:before {border-color:#0071B6}
            }
        }
        &-content {font-size: 1.4rem;line-height: 2rem;color:#a0a0a0;padding:13px 0 24px;display: none;margin-right:55px;
            p {margin-top: 0;margin-bottom: 20px;
                &:last-child {margin-bottom: 0;}
            }
        }
    }
}
.page-banner {background-color: #F4F4F6;
    &__img {
        img {
            &:nth-child(1) {height: 449px;object-fit:cover;object-position:60% 50%;}
            &:nth-child(2) {display: none;}
        }
    }
    &__inner {position: relative;max-width:1440px;margin:0 auto;}
    &__row {display: flex;position: absolute;left: 0;top: 74px;bottom: 69px;right: 0;}
    &__left {max-width:570px;display: flex;flex-direction:column;justify-content: space-between;height: 100%;}
    &__title {margin:0;text-align: left;}
    &__desc {font-size: 1.6rem;line-height: 2.6rem;color:#212121;margin-top: 20px;margin-bottom: 20px;}
    &__subtitle {font-size: 1.8rem;line-height: 2.5rem;color: #0071B6;font-weight: 700;margin: 10px 0 40px;}
}
.terms {margin:82px 0 100px;
    &--general {margin-top: 150px;
        .terms {
            &__desc {
                &-title {font-weight: 500;}
            }
        }
    }
    &__title {margin-bottom: 40px;text-align: center;}
    &__inner {padding:50px 40px;}
    &__slider {margin:0 -32px;
        .slick-list, .slick-track {display: flex;min-width:100%;}
        .slick-dots {bottom: -30px;margin: 0;
            li {width: 16px;height: 3px;margin:0 8px;background-color: #E0E0E0;overflow:hidden;
                &:before {content:'';position:absolute;top: 0;left: 0;right: 0;bottom: 0;transform:translateX(-100%);background-color: #0071B6;}
                button {width: 16px;height: 3px;padding: 0;display: block;
                    &:before {display: none;}
                }
                &.slick-active {
                    &:before {transform:translateX(0);transition:transform 3s;}
                }
            }
        }
    }
    &__slide {width: 33.33%;margin:0 32px;}
    &__item {display: flex;align-items:flex-start;
        &:last-child {margin-top: 40px;}
    }
    &__ico {width: 42px;height: 42px;margin-right: 20px;min-width:42px;max-width:42px;max-height:42px;
        svg {width: 42px;height: 42px;}
        img {max-width:100%;max-height:100%;}
    }
    &__desc {min-height:88px;
        &-title {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;margin-bottom: 10px;}
        &-info {font-size: 1.4rem;line-height: 2rem;color:#a0a0a0;}
    }
}
.connect {margin:100px 0;
    &__title {margin-bottom: 40px;text-align: center;}
    &__content {text-align: center;}
    &__row {display: inline-flex;align-items:flex-start;position: relative;
    }
    &__item {width: 272px;margin:0 15px;text-align: center;position: relative;
        &:before {content:'';position: absolute;top: 32px;left: calc(50% + 32px);height: 1px;background-color: #000;opacity:.1;width: 100%;}
        &-title {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;margin-bottom: 20px;}
        &-desc {font-size: 1.3rem;line-height: 2rem;color:#a0a0a0;}
        &:last-child {
            &:before {display: none;}
        }
    }
    &__ico {width: 64px;height: 64px;border-radius:50%;display: flex;align-items:center;justify-content:center;background-color: #f4f4f6;transition:background-color .3s;position: relative;z-index: 2;margin:0 auto 30px;
        svg {fill:#0071B6;width: 32px;height: 32px;transition:fill .3s;}
        img {width: 32px;height: 32px;object-fit:contain;object-position:center;}
    }
}
.types {margin:100px 0;
    &__title {margin-bottom: 40px;text-align: center;}
    &__box {margin-bottom: 80px;display: flex;align-items:flex-start;
        &:last-child {margin-bottom: 0;}
        &-col {width: 60%;max-width:60%;}
        &-img {background-color: #F4F4F6;padding:35px 82px 20px;margin-right: 126px;width: 40%;max-width:40%;flex-shrink:0;}
        &-title {font-size: 1.8rem;line-height: 2.5rem;margin-bottom: 40px;font-weight: 700;}
        &-subtitle {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;margin:20px 0;}
        &-list {padding-bottom: 10px;
            .list__item {max-width:none;}
        }
        &-btn {margin-top: 30px;}
    }
}
.footer {background-color: #41414C;
    &__top {display: flex;padding:60px 0 30px;}
    &__logo {display: flex;flex-direction:column;margin-right: 60px;
        &> svg {fill:#fff;width: 230px;height: 46px;}
    }
    &__apps {display: flex;margin-top: 51px;
        &-btn {font-size: 1.4rem;color:#fff;line-height: 1.43rem;padding:9px 14px;border:1px solid #fff;transition:color .3s, border-color .3s;border-radius:2px;display: flex;align-items:center;white-space:nowrap;
            &:first-child {margin-right: 15px;}
            svg {width: 16px;height: 16px;fill:#fff;margin-right: 10px;transition: fill .3s;min-width:16px;}
            &:hover {border-color:#ABD526;color:#ABD526;
                svg {fill:#ABD526;}
            }
        }
    }
    &__nav {display: flex;margin-top: 13px;
        &-item {margin-right: 58px;}
        &-link {margin-bottom: 20px;display: block;font-weight: 500;font-size: 1.4rem;line-height: 2rem;color: #fff;}
    }
    &__subnav {font-size: 1.3rem;line-height: 2rem;display: flex;flex-direction:column;
        &-item {color:#a0a0a0;
            &:hover {color:#ABD526;}
        }
    }
    &__middle {padding:30px 0;border-top: 1px solid rgba(255, 255, 255, .1);border-bottom: 1px solid rgba(255, 255, 255, .1); display: flex;}
    &__links {margin-left: 5px;flex-basis:40%;flex-grow:1;}
    &__link {display: flex;flex-direction:column;font-size: 1.3rem;line-height: 2rem;
        a {color:#fff;text-decoration:underline;
            &:hover {color:#ABD526;}
        }
        p {margin: 0 0 19px;color:#a0a0a0}
    }
    &__info {margin-left: 30px;}
    &__phone {display: flex;flex-direction:column;
        a {font-weight: 700;color:#fff;line-height: 2.16rem;font-size: 1.8rem;
            &:hover {color:#ABD526;}
        }
        span {color:#A0A0A0;font-size: 1.3rem;line-height: 2rem;}
    }
    &__time {font-size: 1.3rem;line-height: 2rem;color:#a0a0a0;margin-top: 18px;display: flex;flex-direction:column;margin-bottom: 36px;}
    &__socials {display: flex;margin: 0 -8px;
        svg {width: 24px;height: 24px;fill:#a0a0a0;transition:fill .3s;}
        a {margin:0 8px;display: flex;
            &:hover {
                svg {fill:#ABD526;}
            }
        }
    }
    &__labels {display: flex;flex-basis:40%;justify-content:flex-end;margin-top: 8px;flex-grow:1;}
    &__label {
        &:first-child {margin-right: 13px;}
    }
    &__bottom {display: flex;justify-content: space-between;align-items:flex-end;padding:26px 0 31px;color:#a0a0a0;font-size: 1.3rem;line-height: 2rem;text-decoration:underline}
    &__copyright {margin-left: 5px;}
    &__dev {margin-right: 108px;}
}
.popups {display: none;}
.popup {padding:65px 100px;max-width:690px;width: 100%;
    &__subtitle {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;margin-bottom: 40px;}
    &__field {margin-bottom: 30px;position: relative;
        input {padding:15px;border:1px solid #f4f4f6;border-radius:1px;background-color: #F4F4F6;color:#212121;display: block;width: 100%;font-size: 1.4rem;line-height: 2rem;
            &::placeholder {color:#dbdbdb;}
            &.error {border-color: #f80e1f}
            &.valid {border-color:#0071B6;}
        }
        &:last-child {margin-bottom: 0;}
        label.error {position: absolute;left: 0;right: 0;top: 100%;font-size: 1.3rem;color:#f80e1f;line-height: 1.6rem;margin-top: 4px;}
    }
    &__confirm {display: flex;justify-content:space-between;align-items:center;
        &-btn {
            .btn-custom {padding:16px 33px;}
        }
    }
    &__accept {
        label {display: flex;position: relative;
            label.error {position: absolute;left: 0;right: 0;top: 100%;font-size: 1.3rem;color:#f80e1f;line-height: 1.6rem;margin-top: 4px;}
        }
        &-text {font-size: 1.3rem;line-height: 1.8rem;color:#212121;max-width:245px;margin-right: 15px;
            a {color:#0071B6;text-decoration: underline;}
        }
    }
    &__bottom {margin-top: 40px;border-top: 1px solid #000;padding-top: 20px;text-align: center;padding-bottom: 17px;
        &-title {font-size: 1.8rem;line-height: 2.5rem;font-weight: 700;margin-bottom: 7px;}
        &-subtitle {font-size: 1.6rem;line-height: 1.9rem;margin-bottom: 17px;}
    }
    &__auth {margin-top: 50px;display: flex;justify-content:space-between;}
    &#auth-popup {max-width:620px;}
    &__btn {
        &--full {display: flex;margin-top: -10px;margin-bottom: 40px;
            .btn-custom {flex-grow:1;}
        }
    }
    &__alert {font-size: 1.3rem;line-height: 1.8rem;color:#212121;
        a {color:#0071B6;text-decoration: underline;}
    }
}
.checkbox {display: none;
    &-fake {width: 18px;height: 18px;min-width:18px;background-color: #F4F4F6;transition:background-color .3s;position: relative;display: inline-block;margin-right: 15px;
        &:before {content:'';position: absolute;width: 7px;height: 11px;border-bottom: 3px solid #E0E0E0;border-right: 3px solid #E0E0E0;transform:rotate(40deg);top: 2px;left: 6px;transition:border-color .3s;}
    }
    &:checked {
        & + .checkbox-fake {background-color: #0071B6;
            &:before {border-color: #fff;}
        }
        & + label + .checkbox-fake {background-color: #0071B6;
            &:before {border-color:#fff;}
        }
    }
}
.fancybox-slide--html .fancybox-close-small {color:#000;opacity:1;padding: 8px;top: 7px;right: 7px;
    svg {width: 28px;height: 28px;}
}
.select {position: relative;
    &:not(.not-empty) {
        label.error + .select2-container--default .select2-selection--single {border-color:#f80e1f}
    }
    &.not-empty {
        label.error {display: none;}
        .select2-container--default .select2-selection--single {border-color:#0071b6;}
        .select2-container .select2-selection--single .select2-selection__rendered {color:#000;}
    }
    &__label {top: 18px;
        &.not-empty {top: 0;}
    }
}

.dropdown-wrapper {position: absolute;top: 0;}
.select2-container--open .select2-dropdown--below {margin-top: -52px;}
.select2-container {z-index:99999;min-width:100%;}
.select2-container--default .select2-selection--single {border-radius:1px;border:1px solid #f4f4f6;height: 52px;background-color: #f4f4f6;}
.select2-container .select2-selection--single .select2-selection__rendered {padding-left: 16px;color:#dbdbdb;height:52px;line-height: 52px;font-size: 1.4rem;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 52px;width: 52px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {border:none;border-bottom: 1px solid #BDBDBD;border-right: 1px solid #BDBDBD;width: 7px;height: 7px;transform:rotate(45deg);margin-left: -4px;margin-top: -6px;transition: .3s;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color:#BDBDBD;border-width:0 1px 1px 0;transform: rotate(-135deg);margin-top: -2px;}
.select2-dropdown {border:none;border-radius:0;background-color:transparent;}
.select2-results__option {font-size: 1.4rem;line-height: 2rem;color:#212121;transition:color .3s;padding: 0;
    &:not(:first-child) {margin-top: 16px;}
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {background-color: #fff;color:#0071B6;}
.select2-container--default .select2-results__option--selected {background-color: #fff;color:#212121;font-weight: 700;}
.select2-container--default .select2-search--dropdown .select2-search__field {border:none;}
.select2-search--dropdown {padding: 0;}
.select2-container--default .select2-search--dropdown .select2-search__field {padding:0 16px;font-size: 1.4rem;line-height: 52px;height: 52px;background-color: #f4f4f6;width:calc(100% - 40px)}
.select2-results {box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);padding:35px;background-color: #fff;}
.gototop {position: fixed;left: 0;right: 0;bottom: 0;max-width:100%;pointer-events:none;z-index: 100;
    &__inner {display: flex;justify-content:flex-end;padding: 35px;max-width:1440px;margin: 0 auto;}
    &__btn {width: 36px;height: 36px;border-radius:2px;background-color: #f4f4f6;display: flex;justify-content:center;align-items:center;cursor:pointer;padding-top: 5px;transition: opacity .3s, background-color .3s;opacity:0;
        &:before {content:'';width: 10px;height: 10px;border-bottom: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;transform:rotate(-135deg);transition:border-color .3s;}
        &:hover {background-color: #0071B6;
            &:before {border-color:#fff;}
        }
        &.active {pointer-events:all;opacity:1;}
    }
}
.faq {max-width:792px;margin: 0 auto;border-bottom: 1px solid #f4f4f6;
    .questions {
        &__accord {
            &-row {margin-bottom: 10px;}
            &-head {margin-bottom: 10px;}
            &-content {padding:5px 0 10px;}
        }
    }
}
.callback {margin: 100px 0;
    &__subtitle {font-weight: 600;font-size: 1.6rem;line-height: 1.9rem;margin-bottom: 40px;}
    &__form {display: flex;justify-content:space-between;margin-bottom: 30px;}
    &__input {flex-grow:1;margin-right: 30px;position: relative;
        input {padding:15px;border:1px solid #f4f4f6;border-radius:1px;background-color: #F4F4F6;color:#212121;display: block;width: 100%;font-size: 1.4rem;line-height: 2rem;
            &::placeholder {color:#dbdbdb;}
            &.error {border-color: #f80e1f}
            &.valid {border-color:#0071B6;}
        }
        label.error {position: absolute;left: 0;right: 0;top: 100%;font-size: 1.3rem;color:#f80e1f;line-height: 1.6rem;margin-top: 4px;}
    }
    &__desc {color:#a0a0a0;font-size: 1.3rem;line-height: 1.8rem;
        a {text-decoration: underline;color:#a0a0a0;}
    }
}
.privilege {margin: 100px 0;
    &__title {text-align: center;}
    &__subtitle {text-align: center;font-size: 1.6rem;line-height: 1.9rem;margin-bottom: 40px;}
    &__row {display: flex;justify-content:center;flex-wrap: wrap;margin: 0 -12px -24px;}
    &__item {width:calc(33.33% - 24px);margin:0 12px 24px;padding: 30px;border: 1px solid #F4F4F6;text-align: center;}
    &__ico {height: 64px;margin-bottom: 30px;
        svg {width: 64px;height: 64px;}
        img {width: 64px;height: 64px;object-fit:contain;object-position:top;min-width:64px;}
    }
    &__desc {
        &-title {font-size: 1.6rem;line-height: 1.9rem;font-weight: 600;margin-bottom: 10px;}
        &-info {font-size: 1.6rem;line-height: 2.2rem;color:#a0a0a0;}
    }
    &__terms {display: flex;align-items: flex-start;justify-content: space-between;overflow: hidden;padding-top: 10px;}
    &__head {width: 21%;margin: 10px 0;}
    &__line {display: flex;align-items: flex-start;width: 79%;margin: 0 -30px;
        &-item {margin: 0 30px;min-width: 110px;}
        &-text {font-size: 4.8rem;line-height: 5.8rem;font-weight: 700;color: #0071B6;margin-bottom: 8px;}
        &-img {margin-bottom: 14px;margin-top: 9px;}
        &-desc {font-size: 1.6rem;line-height: 1.9rem;font-weight: 500;}
    }
    &--left {
        .privilege {
            &__title {margin-bottom: 75px;}
            &__item {text-align: left;}
        }
    }
    &--slider {
        .privilege {
            &__row {
                .slick-list, .slick-track {display: flex;}
            }
        }
    }

}
.top-section {
    &__row {display: flex;align-items:flex-start;padding:40px 0;justify-content:space-between;}
    &__left {flex-grow:1;margin-right: 30px;}
    &__right {width: 690px;}
    &__desc {font-size: 1.4rem;line-height: 2rem;padding:8px 0;}
    &__title {font-weight: 700;font-size: 4.8rem;line-height: 5.8rem;margin: 0;}
    &__search {margin:9px 0;
        svg {fill:#0071B6;}
    }
}
.atm-filter {
    &__row {margin-top: 23px;display: flex;justify-content:space-between;border-bottom: 1px solid #E6E6E6;padding-bottom: 27px;margin-bottom: 40px;}
    &__left {max-width:907px;}
    &__right {width: 198px;flex-shrink:0;}
    &__city {margin-bottom: 50px;display: flex;
        span {font-size: 1.6rem;line-height: 1.9rem;color:#a0a0a0;margin-right: 16px;}
        a {color:#0071B6;font-weight: 700;font-size: 1.8rem;line-height: 2rem;border-bottom: 1px dashed #0071B6;}
    }
    &__advan {display: flex;align-items:center;margin-bottom: -16px;flex-wrap:wrap;}
    &__checkbox {display: flex;align-items:center;margin-right: 33px;cursor:pointer;margin-bottom: 16px;
        .checkbox {display: none;
            &__wrap {display: flex;}
        }
        &-text {font-size: 1.3rem;line-height: 1.8rem;transition: color .3s;}
        &:hover {
            .atm-filter__checkbox-text {color:#0071B6;}
        }
    }
    &__view {margin-bottom: 50px;display: flex;align-items:center;
        div {display: flex;align-items:center;font-size: 1.4rem;line-height: 2rem;color:#a0a0a0;transition: color .3s;cursor:pointer;
            &.active {color:#212121;
                svg {fill:#0088B6;}
            }
            &:hover {color:#212121;
                svg {fill:#0088B6;}
            }
            &:last-child {margin-left: 28px;}
        }
        svg {width: 18px;height: 18px;fill:#979797;transition: .3s;margin-right: 8px;}
    }
    &__partners {text-align: right;
        a {color:#0071B6;text-decoration: underline;font-size: 1.6rem;line-height: 2.2rem;font-weight: 500;}
    }
}
.view {margin:40px 0 100px;
    &__list {
        &-total {font-size: 1.4rem;line-height: 2rem;color:#a0a0a0;margin-bottom: 3px;}
        &-row {display: flex;font-size: 1.4rem;line-height: 2rem;color:#000;margin:0 -20px;padding:17px 0 16px;transition: color .3s, background-color .3s;justify-content:space-between;position: relative;border-bottom:1px solid transparent;
            &:before {content:'';position: absolute;bottom: -1px;left: 20px;right: 20px;height: 1px;background-color: #E6E6E6;transition:background-color .3s;}
            &:hover {background-color: #0071B6;color:#fff;
                .view {
                    &__list {
                        &-metro {
                            svg {fill:#fff;}
                        }
                    }
                }
                &:before {background-color: #0071B6;}
            }
        }
        &-col {margin:0 20px;
            &:nth-child(1) {min-width: calc(30% - 40px);max-width: calc(30% - 40px);}
            &:nth-child(2) {min-width: calc(21% - 40px);max-width: calc(21% - 40px);}
            &:nth-child(3) {min-width: calc(19% - 40px);max-width: calc(19% - 40px);}
            &:nth-child(4) {min-width: calc(24% - 40px);max-width: calc(24% - 40px);}
            &:nth-child(5) {min-width: calc(6% - 40px);max-width: calc(6% - 40px);}
        }
        &-name {display: block;}
        &-address {display: block;}
        &-metro {display: flex;align-items: flex-start;flex-direction:row-reverse;justify-content:flex-end;
            svg {width: 18px;height: 13px;margin-right: 10px;fill:#0071B6;transition: .3s;min-width:18px;margin-top: 3px;}
            span:empty + svg {display: none;}
        }
        &-time {
            span {display: inline-block;}
        }
        &-filial {
            span {display: inline-block;}
        }
    }
    &__content {position: absolute;top: -9999px;left: -9999px;width: 100%;
        &.active {position: static;}
    }
    #map {height: 500px;width: 100%;padding: 0;margin: 0;}
}
.map {
    &__header {font-weight: 700;padding:20px 0 0 18px;font-size: 1.4rem;line-height: 1.9rem;font-family: 'Montserrat', sans-serif;}
    &__address {font-weight: 400;padding:0 0 23px 0;font-size: 1.4rem;line-height: 1.9rem;font-family: 'Montserrat', sans-serif;border-bottom: 1px solid #e6f0f5;margin-left: 18px;}
    &__row {margin-top: 13px;margin-bottom: 20px;display: flex;padding-left: 18px;font-family: 'Montserrat', sans-serif;font-size: 1.4rem;line-height: 2rem;
        svg {fill:#0071B6;width: 18px;height: 18px;margin-right: 10px;}
        &>span {display: flex;flex-direction:column;}
    }
    &__metro {flex-direction:row-reverse;justify-content:flex-end;
        span:empty + svg {display: none;}
    }
}
.hint {position: relative;
    &__text {position: absolute;bottom: 100%;left: 5px;background-color: #fff;box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);padding: 32px;opacity:0;pointer-events:none;transition:opacity .3s;width: 385px;font-size: 1.4rem;line-height: 2rem;color:#000;max-width:22vw;min-width:255px;}
    &:hover {
        .hint__text {opacity:1;pointer-events:all;}
    }
}
.city {display: none;padding: 0;vertical-align:top;width: 100%;background-color: transparent;
    &__inner {max-width:1035px;background-color: #fff;margin:0 0 0 auto;}
    &__head {display: flex;padding:60px 100px 40px 115px;justify-content:space-between;align-items:flex-end;}
    &__title {font-size: 4.8rem;line-height: 5.8rem;margin: 0;margin-right: 69px;font-weight: 700;}
    &__search {}
    &__content {display: flex;flex-wrap:wrap;padding:0 105px;}
    &__col {width: calc(25% - 30px);margin: 0 15px 40px;}
    &__item {font-size: 1.4rem;line-height: 2rem;
        &-title {font-size: 1.8rem;line-height: 2.5rem;font-weight: 700;color:#0071B6;}
        span {transition:color .3s;cursor:pointer;
            &:hover {color:#0071B6;}
        }
    }
}
.search {background-color: #F2F2F2;border-radius:1px;padding:0 19px;display: flex;align-items:center;flex-grow:1;
    svg {margin-right: 17px;width: 24px;height: 24px;transition: fill .3s;}
    input {background-color: transparent;border:none;color:#212121;font-size: 1.6rem;line-height: 2.8rem;padding:6px 0;flex-grow:1;
        &::placeholder {color:#c4cdd5;}
    }
    button {border:none;padding: 0;background-color:transparent;
        &:hover {
            svg {fill:#0071B6;}
        }
    }
}
.documents {margin-bottom: 100px;
    &__row {display: flex;justify-content:space-between;}
    &__aside {width: 382px;margin-right: 30px;flex-shrink:0;}
    &__right {max-width:690px;width: 100%;}
    .questions {
        &__accord {
            &-row {margin-bottom: 10px;}
            &-head {margin-bottom: 10px;padding-right: 30px;}
            &-content {padding:5px 0 10px;margin-right: 20px;}
        }
    }
    &__accord {border-bottom: 1px solid #f4f4f6;}
    &__nav {display: flex;flex-direction:column;align-items:flex-start;padding-left: 37px;
        &-item {font-size: 1.6rem;line-height: 2.6rem;color:#a0a0a0;transition: color .3s;margin-bottom: 16px;cursor:pointer;
            &:hover {color:#0071B6;}
            &.current {font-weight: 700;color:#212121;pointer-events:none;}
            &:last-child {margin-bottom: 0;}
        }
    }
    &__title {font-size: 1.8rem;line-height: 2.5rem;font-weight: 700;margin-bottom: 19px;}
    &__list {border-bottom: 1px solid #f4f4f6;padding-bottom: 15px;margin-bottom: 45px;
        &-item {display: flex;align-items:flex-start;margin-bottom: 20px;font-size: 1.6rem;line-height: 2.6rem;color:#000;transition:color .3s;
            &:last-child {margin-bottom: 0;}
            &:hover {color:#0071B6;}
        }
        &-name {margin-top: -2px;}
        &-ico {margin-right: 20px;min-width:32px;
            svg {width: 32px;height: 32px;fill:#0071B6;}
        }
    }
    &__archive {border-bottom: 1px solid #f4f4f6;
        .questions__accord-head {font-weight: 600;}
    }
}
.partners {position: relative;z-index: 2;
    &__row {display: flex;flex-wrap:wrap;margin: 0 -12px -24px;}
    &__item {width:calc(25% - 24px);margin:0 12px 24px;padding-bottom: calc(25% - 46px);position: relative;border: 1px solid #ECECEC;transition:box-shadow .3s;
        &:hover {box-shadow:0 20px 30px rgba(0,0,0,.15);
            .partners {
                &__content {opacity:1;z-index: 2;}
            }
        }
    }
    &__content {position: absolute;opacity:0;top: -1px;left: -1px;right: -1px;bottom: -1px;padding:30px 30px 70px;transition:opacity .3s;background-color: #fff;}
    &__logo {position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items:center;justify-content:center;padding: 15px;}
    &__title {font-size: 1.6rem;line-height: 1.9rem;margin-bottom: 19px;}
    &__desc {font-size: 1.4rem;line-height: 2rem;color:#a0a0a0;}
    &__more {display: flex;position: absolute;align-items: center;bottom: 35px;left: 30px;font-size: 1.4rem;line-height: 2rem;color:#0071B6;
        svg {width: 16px;height: 16px;margin-left: 5px;fill:#0071B6;}
    }
}
.form {text-align: left;
    &__row {margin: 0 -10px;display: flex;flex-wrap: wrap;
        .popup {
            &__field {width: calc(50% - 20px);margin: 0 10px 40px;padding-top: 12px;
                input {font-size: 1.4rem;line-height: 2.8rem;padding: 0 0 4px 0;border:none;border-bottom: 1px solid #0071B6;background-color: #fff;border-radius:0;
                    &.not-empty {
                        & + .form__label {top: 0;}
                        & + label + .form__label {top: 0;}
                    }
                    &:focus {
                        & + .form__label {top: 0;}
                        & + label + .form__label {top: 0;}
                    }
                    &.error {border-bottom: 1px solid #f80e1f;}
                    &.valid {border-bottom: 1px solid #ABD526;}
                }
                .select2-container--default .select2-selection--single {height: 33px;border: none;border-bottom: 1px solid #0071B6;background-color: transparent;}
                .select2-container .select2-selection--single .select2-selection__rendered {height: 33px;padding-left: 0;line-height: 33px;}
                .select2-container--default .select2-selection--single .select2-selection__arrow {width: 13px;height: 33px;}
                .select {
                    &.not-empty {
                        .select2-container--default .select2-selection--single {border-color:#abd526;}
                    }
                }
            }
        }
    }
    .popup {
        &__confirm {
            &-btn {width: calc(50% - 10px);display: flex;
                .btn-custom {flex-grow: 1;}
            }
        }
    }
    .select2-container--default .select2-search--dropdown .select2-search__field {padding: 0;height: 33px;line-height: 33px;background-color: #fff;width: 100%;}
    .select2-container--open .select2-dropdown--below {margin-top: -32px;}
    &__label {font-size: 1.3rem;line-height: 1.6rem;color: #C4CDD5;position: absolute;top: 18px;left: 0;transition: .3s;pointer-events: none;}
    .form__row .popup__field .select2-container .select2-selection--single .select2-selection__rendered {color: #000;}
}
.advan-banner {background-color: #F4F4F6;margin: 100px 0;
    &__col {padding: 65px 0 48px 15px;max-width: 630px;margin: 0 0 0 auto;}
    &__img {width: 100%;max-width: 708px;
        img {height: 100%;object-fit: cover;}
    }
    &__inner {display: flex;}
    &__title {font-size:4.8rem;line-height: 5.8rem;font-weight: 700;margin-bottom: 40px;max-width: 400px;}
}
.in-city {margin: 100px 0;
    &__row {display: flex;}
    &__map {width: 56%;display: flex;justify-content: center;align-items: center;padding: 15px 0 15px 30px;}
    &__col {width: 44%;padding: 52px 58px 65px 40px;}
    &__title {margin-bottom: 40px;}
    &__desc {font-size: 1.6rem;line-height: 2.6rem;}
}
.credit-table {background-color: #F4F4F6;font-size: 1.4rem;line-height: 2rem;padding:8px 0;margin-bottom: 30px;
    &__row {display: flex;}
    &__col {width: 49%;padding:8px 24px;color:#000;font-weight: 400;
        &:first-child {font-weight: 600;color:#212121;width: 51%;}
        span {color:#0071B6;}
    }
}
.info {margin:100px 0;
    &__title {text-align: center;margin-bottom: 48px;}
    .tabs {justify-content: center;margin-bottom: 33px;
        &__tab {
            &:last-child {margin-right: 0;}
        }
    }
}
.fancybox-slide--html {padding: 0;}
div.title-search-result {display:none!important;}
.common_condition_block {display: flex;flex-direction:column;align-items:flex-end;float:none!important;margin-top: 20px;}
.common_condition_block a {color:#0071b6;}
a.template_link {color: #0071b6;font-size: 1.4rem;margin-top: 10px;display: inline-block;}
/* GENERAL STYLES */

.hamburger {
    width: 20px;
    height: 14px;
    position: relative;
    margin-left: 34px;
    cursor:pointer;
}

.hamburger .bar {
    padding: 0;
    width: 20px;
    height: 2px;
    background-color: #000;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 6.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* HAMBURGER 3 */

.hamburger3 .bar1 {
    transform-origin: 5%;
}

.hamburger3 .bar4 {
    transform-origin: 5%;
}

@media screen and (min-width:768px) {
    .connect {
        &__item {
            &.active {
                &:after {content:'';position: absolute;top: 32px;left:calc(50% + 15px);height: 1px;background-color: #ABD526;width: 50%;}
                .connect {
                    &__ico {background-color: #ABD526;
                        svg {fill:#fff;}
                    }
                }
            }
        }
    }
    .types {
        &__box {
            &-list {display: block!important;height: auto!important;padding-bottom: 0!important;}
        }
    }
}
@media screen and (min-width:1200px) {
    .header {
        &__nav {
            &-item {
                &--is-submenu {
                    &:hover {
                        .header__subnav {opacity:1;pointer-events:all;z-index: 10;}
                    }
                }
            }
            &-link {
                &[href="#"] {pointer-events:none;}
                &.header__subnav-item--bold {border-bottom: 2px solid #0071B6;font-weight: 400;}
            }
        }
        &__subnav {position: absolute;top: 100%;padding: 32px;background-color: #fff;left: 50%;transform:translateX(-50%);pointer-events:none;opacity:0;transition:opacity .3s;box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
            &-item {display: block;
                &:not(:first-child) {margin-top: 16px;}
                &--bold {font-weight: 700;}
            }
        }
        &__top {
            .header__mobmenu {display: none;}
        }
    }
    .privilege {
        &__item {min-height: 227px;}
    }
    .service-block {
        &--use {
            .service-block {
                &__img {margin-left: -110px;}
            }
        }
    }
}
@media screen and (max-width:1300px) {
    .view {
        &__list {
            &-row {margin:0 -15px}
            &-col {margin:0 15px}
        }
    }
}
@media screen and (max-width:1280px) {
    .service-block {
        &__decor {display: none;}
    }
}
@media screen and (max-width:1199px) {
    .header {
        &__logo {margin-right: 3%;}
        &__inner {padding:12px 0;}
        &__personal {
            .btn {padding:7px 15px;
                span:nth-child(2) {display: block;}
                span:nth-child(1) {display: none;}
            }
        }
        &__mobmenu {display: flex;}
        &__middle {position: absolute;flex-direction:column;top: 0;background-color: #fff;z-index: 5;width: 100%;max-width: 360px;right: 0;transform:translateX(200%);transition:transform .3s;display: none;
        &.opened {transform:translateX(0);z-index: 100;display: flex;}
        }
        &__bottom {order:1;justify-content:space-between;padding:16px;}
        &__nav {flex-direction:column;
            &-item {margin-right: 0;border-bottom: 1px solid #f2f2f2;
                &--is-submenu {position: relative;cursor:pointer;
                    .header__nav-link {pointer-events:none;
                        &:before {width: 10px;height: 10px;right: 24px;top: 19px;border-color:#e0e0e0;transition: .3s;}
                    }
                    &:before {content:'';position: absolute;right: 0;width: 150px;top: 0;height: 52px;z-index: 11;}
                    &.active {
                        .header__nav-link {pointer-events:all;color:#0071B6;
                            &:before {border-color:#0071b6;transform:rotate(-135deg);top: 24px;}
                        }
                        .header__subnav {display: block;}
                    }
                }
            }
            a {width: 100%;}
            &-link {padding:16px 16px 15px;font-weight: 500;}
        }
        &__top {justify-content: space-between;padding:19px 16px;margin-right: 5px;
            svg {width: 24px;height: 24px;}
            .hamburger {width: 14px;margin-left: 38px;}
        }
        &__social {
            svg {width: 24px;height: 24px;}
        }
        &__atm {
            svg {margin-right: 8px;}
        }
        &__subnav {display: none;flex-direction:column;margin-left: 56px;margin-top: 9px;margin-bottom: 23px;
            &-item {display: block;
                &:not(:first-child) {margin-top: 16px;}
                &--bold {font-weight: 700;}
            }
        }
        &__shadow {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: #212121;opacity:0;transition:opacity .3s;pointer-events:none;
            &.active {z-index: 99;pointer-events:all;opacity:.7;}
        }
        &__search {position: static;
            &-inner {top: 12px;transform:scale(0);right: 0;display: flex;justify-content:space-between;transition: .3s;left: 15px;
                &.opened {max-width:calc(100% - 78px);transform:scale(1)}
            }
        }
    }
    .footer {
        &__logo {margin-right: 30px;}
        &__nav {width: 100%;justify-content:space-evenly;
            &-item {margin-right: 15px;
                &:last-child {margin-right: 0;}
            }
        }
    }
    .documents {
        &__aside {width: 310px;}
    }
    .partners {
        &__item {width:calc(33.33% - 24px);padding-bottom: 25%;
            &:hover {box-shadow:none;
                .partners {
                    &__content {opacity:0;}
                }
            }
            &.active {box-shadow:0 20px 30px rgba(0,0,0,.15);
                .partners {
                    &__content {opacity:1;}
                }
            }
        }
        &__content {min-height:fit-content;
            &:before {content:'';position: absolute;top: 20px;right: 15px;width: 16px;height: 2px;transform:rotate(45deg);background-color: #000;z-index: 3;}
            &:after {content:'';position: absolute;top: 20px;right: 15px;width: 16px;height: 2px;transform:rotate(-45deg);background-color: #000;z-index: 3;}
        }
    }
    .privilege {
        &__head {margin-right: 60px;width: 25%;}
        &__line {margin: 0 -15px;width: 75%;
            &-item {min-width: 74px;margin: 0 15px;}
            &-text {font-size: 2.4rem;line-height: 2.9rem;min-height: 42px;}
            &-desc {font-size: 1.4rem;line-height: 2rem;}
            &-img {margin-top: 0;margin-bottom: 8px;}
        }
    }
}
@media screen and (max-width:1024px) {
    .footer {
        &__top {display: block;padding:30px 0 10px;position: relative;max-width:400px;}
        &__subnav {display: none;}
        &__apps {position:absolute; right: 0;top: calc(100% + 37px);margin: 0;flex-direction:column;
            &-btn {
                &:first-child {margin-right: 0;margin-bottom: 13px;}
                span {flex-grow:1;text-align: center;}
            }
        }
        &__nav {margin-top: 33px;max-width:400px;display: block;cursor:pointer;
            &-item {position:relative;margin-bottom: 10px;margin-right: 0;
                &.active {
                    .footer__nav-link {pointer-events:all;
                        &:before {transform:rotate(-135deg);top: 7px;}
                    }
                    .footer__subnav {display: flex;flex-direction:column;margin-left: 56px;margin-bottom: 23px;
                        &-item {margin-bottom: 7px;
                            &:last-child {margin-bottom: 0;}
                        }
                    }
                }
            }
            &-link {pointer-events:none;display: inline-block;margin-bottom: 10px;
                &:before {width: 10px;height: 10px;right: 7px;top: 1px;transition: .3s;content:'';position: absolute;transform:rotate(45deg);border-bottom: 2px solid #fff;border-right: 2px solid #fff;pointer-events:none;}
            }
        }
        &__middle {flex-direction:column;}
        &__links {margin-left: 0;padding:30px 0;}
        &__link {
            p {margin: 0;}
            a {margin-top: 20px;}
            &:first-child {
                a {margin-top: 0;}
            }
        }
        &__info {order:-1;margin-left: 0;padding-bottom: 29px;border-bottom: 1px solid rgba(255, 255, 255, .1)}
        &__time {margin-bottom: 15px;}
        &__labels {justify-content: flex-start;margin-top: 0;}
        &__dev {margin-right: 0;}
        &__copyright {margin-left: 0;margin-bottom: 30px;}
        &__bottom {flex-direction:column;align-items:flex-start;padding:30px 0;}
    }
    .header {
        &__app {display: flex;padding:16px;background-color: #F4F4F6;margin:0 -15px;justify-content: center;
            &-row {display: flex;align-items:center}
            &-ico {display: flex;margin:0 26px 0 11px;
                svg {width: 48px;height: 48px;background-color: #0071B6;border-radius:4px;}
            }
            &-close {display: flex;align-items:center;cursor:pointer;
                svg {width: 18px;height: 18px;fill:#a0a0a0;}
            }
            &-desc {font-size: 1.4rem;line-height: 1.7rem;margin-right: 12px;}
            &-link {display: flex;align-items:center;font-size: 1.4rem;line-height: 2rem;color:#0071B6;font-weight: 500;
                svg {fill:#0071B6;width: 16px;height: 16px;margin-top: 2px;margin-left: 5px;}
            }
        }
    }
    .quick-work {background: none!important;;margin:60px 0;
        &__banner {background: none !important;}
    }
    .tariffs {
        &__desc {display: none;}
        &__row {flex-direction:column;}
        &__pdf {margin-top: 0;}
        &__slide {border:1px solid #F4F4F6;margin:0 8px;
            &--blue {
                .tariffs__slide {
                    &-desc {
                        span:nth-child(2) {color:#0071B6;margin-left: 4px;}
                    }
                }
            }
            &--green {
                .tariffs__slide {
                    &-desc {
                        span:nth-child(2) {color:#abd526;margin-left: 4px;}
                    }
                }
            }
            &-btn {opacity:1;}
            &-desc {
                &-info {
                    &> span:nth-child(1) {display: inline;}
                }
            }
        }
        &__slider {
            .slick-dots {display: none!important;}
            &-wrap {width: auto;}
            .slick-list {padding:0 8px 40px;}
        }
        &__subtitle {font-weight: 600;}
    }
    .city {
        &__head {padding:60px 15px 40px;}
        &__content {padding: 0;}
    }
    .privilege {
        &__line {flex-wrap: wrap;margin: 0 -15px -20px;
            &-item {width: calc(50% - 30px);margin-bottom: 20px;}
            &-text {min-height: auto;}
        }
    }
    .advan-banner {
        &__title {font-size: 3.6rem;line-height: 4.6rem;}
        &__col {padding: 40px 15px;}
    }
    .tabs {
        &__sort {display: none;}
    }
    .questions {
        &__accord {
            &-head {
                &:hover {color:#212121;}
            }
        }
    }
}
@media screen and (max-width:992px) {
    .header {
        &__inner {padding:16px 0 14px;}
        &__logo {
            svg {width: 128px;height: 26px;}
        }
    }
    .banner {height: auto;
        &__img {
            img {
                &:nth-child(1) {display: none;}
                &:nth-child(2) {display: block;margin:0 auto;}
            }
        }
        &__content {margin:140px 15px 53px;padding:27px 20px 0;width: 100%;max-width:325px;text-align: center;
            &:before {bottom: 39px;}
        }
        &__title {font-size: 3.6rem;line-height: 4.3rem;margin-bottom: 5px;}
        &__text {font-size: 2.4rem;line-height: 3.4rem;}
        &__slider {
            .slick-dots {bottom: 15px;}
        }
        &__slide {display: flex;justify-content: center;}
        &__arrows {display: none;}
    }
    .title {font-size: 1.8rem;line-height: 2.5rem;}
    .advantages {margin:45px 0 60px;
        &__title {margin-bottom: 8px;}
        &__subtitle {font-size: 1.4rem;line-height: 2.2rem;margin-bottom: 30px;}
        &__desc {margin-bottom: 30px;}
        &__row {flex-wrap:wrap;margin-bottom: -25px;}
        &__item {display: flex;width:calc(50% - 100px);align-items:center;margin-bottom: 25px;
            &-desc {font-size: 1.4rem;line-height: 1.7rem;font-weight: 500;}
        }
        &__ico {width: 32px;height: 32px;margin-bottom: 0;margin-right: 25px;min-width:32px;}
    }
    .bar2, .bar3 {top: 6px;}
    .quick-work {margin:60px 0;
        &__banner {padding: 0;}
        &__content {border:1px solid #F4F4F6;max-width:none;}
        &__title {margin-bottom: 8px;}
        &__subtitle {font-size: 1.4rem;line-height: 2.2rem;margin-bottom: 30px;}
        &__progress {flex-direction:column;margin:30px 20px;
            &-item {width: auto;display: flex;padding: 0;align-items: center;margin-bottom: 33px;position:relative;
                &:last-child {margin-bottom: 0;
                    *:before {display: none;}
                }
            }
            &-ico {margin-bottom: 0;margin-right: 24px;position: static;
                &:before {width: 20px;top: auto;right: auto;left: 5px;bottom: -16px;transform:rotate(90deg);}
                &.active {
                    img {filter:hue-rotate(155deg);}
                    &:after {width: 10px;top: auto;right: auto;left: 10px;bottom: -11px;transform:rotate(90deg);display: none;}
                }
            }
            &-name {
                br {display: none;}
            }
        }
        &__list {margin-bottom: 0;}
        &__box {padding:30px 20px;background-color: #F4F4F6;}
        &__btn {padding:0 20px;display: flex;margin-top: 40px;margin-bottom: 30px;
            .btn-custom {flex-grow:1;}
        }
    }
    .services {margin:60px 0;
        &__inner {
            .slick-list, .slick-track {display: flex;}
            &:not(.services__slider) {
                .services {
                    &__item {width: calc(50% - 26px);padding-top: 280px;}
                }
            }
        }
        &__item {}
        &__img {top: 20px;left: 10px;right: 10px;}
        &__title {padding:0 18px;margin-bottom: 18px;}
        &__desc {padding:0 18px}
        &__date {padding:0 18px;font-size: 1.4rem;line-height: 2rem;font-weight: 400;margin-bottom: 8px;}
        &__link {bottom: 20px;left: 18px;
            span {width: auto;margin-right: 5px;}
            svg {fill:#0071b6;}
        }
        &__head {
            &-subtitle {margin-bottom: 40px;}
        }
    }
    .service-block {margin:60px 0;
        &__row {align-items: center;}
        &__content {padding:38px 30px 40px 0;max-width:390px;}
        &.reverse {
            .service-block {
                &__content {padding:38px 0 40px 30px;}
            }
        }
    }
    .tariffs {margin:60px 0;
        &__slide {padding:20px 20px 30px;}
    }
    .tabs {overflow:auto;margin: 0 -15px 50px;padding:0 15px;
        &__tab {white-space:nowrap;padding-bottom: 9px;transform:none;}
    }
    .press-center {margin-bottom: 60px;
        &__title {margin-bottom: 20px;padding-top: 30px;}
        &__more {margin: 30px 0 60px;}
    }
    .grey-block {
        &:before {height: 50%;}
    }
    .request {margin:60px 0 50px;
        &__title {margin-bottom: 8px;}
        &__subtitle {font-size: 1.4rem;line-height: 2rem;margin-bottom: 30px;}
        &__decor {display: none;}
    }
    .questions {margin:50px 0 70px;}
    .press-center-detail {margin-bottom: 60px;margin-top: 20px;}
    .press-detail {margin-bottom: 60px;}
    .terms {margin:60px 0;
        &__slider {
            .slick-list, .slick-track {display: block;}
        }
    }
    .connect {margin:60px 0 40px;
        &__row {margin:0 -10px;}
        &__item {margin:0 10px;width: 220px;
            &.active {
                &:after {left:calc(50% + 10px);}
            }
        }
    }
    .types {margin: 60px 0;
        &__box {
            &-img {margin-right: 30px;}
        }
    }
    .callback {margin:60px 0;}
    .privilege {margin:60px 0;
        &--left {
            .privilege {
                &__title {margin-bottom: 30px;}
            }
        }
    }
    .view {margin-bottom: 60px;
        &__list {
            &-row {flex-wrap:wrap;padding-bottom: 0;
                &:hover {background-color: #fff;color:#000;
                    &:before {background-color: #e6e6e6;}
                    .view {
                        &__list {
                            &-metro {
                                svg {fill:#0071B6;}
                            }
                        }
                    }
                }
            }
            &-col {min-width:calc(50% - 30px) !important;max-width:calc(50% - 30px) !important;margin-bottom: 17px;}
            &-metro {
                span {max-width:none;}
            }
        }
    }
    .documents {margin-bottom: 60px;}
    .partners {
        &__item {width: calc(50% - 24px);padding-bottom: 39%;}
    }
    .advan-banner {margin: 60px 0;}
    .in-city {margin: 60px 0;}
    .info {margin:60px 0;
        .tabs {justify-content:flex-start;}
    }
}
@media screen and (max-width:900px) {
    .services {
        &__slider {margin: -40px -15px;
            .services {
                &__item {max-width:272px;min-width:272px;padding-top: 225px;margin:0 8px;}
            }
            .slick-list {padding:40px 15px;}
            .label {
                &:before {display: none;}
            }
        }
        .slick-slider .slick-list, .slick-slider .slick-track {display: flex;}
    }
}
@media screen and (max-width:800px) {
    .services {
        &__inner {
            &:not(.services__slider) {
                .services {
                    &__item {padding-top: 33%;}
                }
            }
        }
    }
}
@media screen and (max-width:767px) {
    .advantages {
        &__inner {padding: 0;border:none;}
        &__row {margin: 0;}
        &__item {width: 100%;margin:0 0 25px;
            &:last-child {margin-bottom: 0;}
        }
    }
    .label {
        &:before {display: none;}
    }
    .services {
        &__head {text-align: left;
            &-subtitle {margin-bottom: 30px;font-weight: 600;}
        }
    }
    .service-block {
        &__row {border:none;position: relative;padding-top: 55px;display: block;}
        &__content {padding: 0;}
        &.reverse {
            .service-block {
                &__content {padding:0;}
            }
        }
        &__decor {display: none;}
        &__title {position: absolute;top: 0;left: 0;}
        &__img {margin-bottom: 30px;
            img {width: auto!important;transform:none!important;}
        }
        &__list {margin-bottom: 40px;}
        &__btn {margin-top: 40px;
            .btn-custom {flex-grow:1;}
            .btn {flex-grow:1;justify-content:center;padding-top:15px;padding-bottom: 15px;
                &:not(:first-child) {margin-left: 12px;}
            }
        }
        &--use {
            .service-block {
                &__row {padding-top: 0;}
                &__title {position: static;margin-bottom: 30px;}
                &__img {margin-bottom: 20px;}
            }
        }
    }
    .tariffs {
        &__slider {
            &.slick-initialized {
                .tariffs {
                    &__slide {width: 272px;max-width:272px;min-width:272px;}
                }
            }
            .slick-list {padding:0 16px 40px;}
        }
        &__slide {
            &-title {font-size: 1.4rem;line-height: 2rem;margin-bottom: 6px;font-weight: 700;}
            &-desc {
                &-info {border-bottom: none;}
            }
        }
        &__pdf {justify-content:center;}
        .mbox > div:not(.tariffs__inner) {text-align: center;}
    }
    .questions {
        &__inner {padding: 0;border:none;}
        &__title {margin-bottom: 32px;text-align: left;
            &--center {text-align: left;}
        }
        &__accord {
            &-head {font-size: 1.4rem;line-height: 2rem;padding-right: 35px;
                &:before {top: 2px;}
                &:hover {
                    &:before {border-color:#000;}
                }
                &.active {
                    &:before {top: 8px;border-color:#0071b6!important;}
                }
            }
            &-row {margin-bottom: 16px;}
        }
    }
    .main-title {font-size: 1.8rem;line-height: 2.5rem;margin:30px 0 20px;text-align: left;}
    .press-detail {
        &__content {font-size: 1.4rem;line-height: 2rem;
            h3 {font-size: 1.4rem;line-height: 2rem;}
        }
    }
    .press-center-detail {
        &__banner {min-height:433px;height:433px;
            & > img {height: 433px;object-position:65% 50%;}
        }
        &__content {padding: 30px 15px 38px;}
        &__title {margin-bottom: 8px;}
        &__date {font-size: 1.4rem;line-height: 2.2rem;}
    }
    .page-banner {
        &__inner {display: flex;flex-direction:column-reverse;}
        &__img {padding:30px 15px 0;
            img {
                &:nth-child(1) {display: none;}
                &:nth-child(2) {display: block;width: 100%;}
            }
        }
        &__row {position: static;}
        &__desc {font-size: 1.4rem;line-height: 2rem;margin-bottom: 30px;}
        &__left {max-width:none;padding-bottom: 30px;}
    }
    .terms {
        &__title {text-align: left;}
        &__inner {border:none;padding: 0;}
        &__desc {min-height:auto;}
        &__ico {width: 32px;height: 32px;min-width:32px;max-width:32px;max-height:32px;
            svg {width: 32px;height: 32px;}
        }
        &__slider {margin: 0;
            &-wrap {padding-bottom: 30px;}
        }
        &__slide {margin: 0;}
        &__desc {
            &-title {font-weight: 500;margin-bottom: 8px;font-size: 1.4rem;line-height: 1.7rem;}
        }
        &__item {
            &:last-child {margin-top: 16px;}
        }
    }
    .connect {
        &__content {text-align: left;}
        &__title {text-align: left;margin-bottom: 26px;}
        &__row {flex-direction:column;margin: auto;display: flex;}
        &__item {display: flex;width: 100%;margin: 0;flex-direction:column;text-align: left;position: relative;padding-left: 74px;margin-bottom: 12px;max-width:266px;
            &:last-child {margin-bottom: 0;}
            &-title {font-size: 1.4rem;line-height: 1.7rem;font-weight: 500;margin-bottom: 8px;margin-top: 12px;}
            &-desc {font-size: 1.4rem;line-height: 2rem;font-weight: 400;}
            &:before {left: 21px;height: 100%;width: 1px;}
        }
        &__ico {margin: 0 32px 0 0;width: 42px;height: 42px;position: absolute;left: 0;top: 0;
            svg {width: 21px;height: 21px;}
            img {width: 21px;height: 21px;}
        }
    }
    .types {
        &__title {text-align: left;margin-bottom: 30px;}
        &__box {flex-direction:column;padding-top: 40px;position: relative;margin-bottom: 40px;
            &-title {position: absolute;top: 0;left: 0;font-size: 1.4rem;line-height: 2rem;font-weight: 700;}
            &-img {width: 100%;max-width:100%;margin-right: 0;padding:24px 15px 15px;text-align: center;margin-bottom: 10px;}
            &-col {width: 100%;max-width:100%;}
            &-subtitle {padding:20px 30px 20px 0;margin: 0;font-size: 1.4rem;line-height: 2rem;font-weight: 500;border-bottom: 1px solid #F4F4F6;position: relative;transition: border-color 0s ease 2s;
                &:before {content:'';position: absolute;border-bottom: 2px solid #000;border-right: 2px solid #000;width: 10px;height: 10px;transform:rotate(45deg);right: 3px;top: 22px;transition: .3s;}
                &.active {border-color: transparent;transition: border-color 0s;
                    &:before {transform:rotate(-135deg);top: 27px;border-color:#0071B6;}
                }
            }
            &-list {padding-bottom: 20px;border-bottom: 1px solid #F4F4F6;color:#A0A0A0;}
            &-btn {display: none;}
        }
    }
    .gototop {display: none;}
    .popup {padding:50px 30px;
        &__confirm {flex-direction:column;
            &-btn {margin-top: 40px;}
        }
        &__accept {
            &-text {max-width:none;margin-right: 0;}
        }
    }
    .privilege {
        &__title {text-align: left;margin-bottom: 8px;}
        &__subtitle {text-align: left;margin-bottom: 30px;font-weight: 600;font-size: 1.4rem;line-height: 2rem;}
        &__row {flex-direction:column;margin: 0;}
        &__item {padding: 0;border:none;display: flex;align-items:flex-start;margin:0 0 16px 0;text-align: left;width: 100%;
            &:last-child {margin-bottom: 0;}
        }
        &__ico {width: 32px;height: 32px;margin-bottom: 0;margin-right: 24px;
            svg {width: 32px;height: 32px;}
            img {width: 32px;height: 32px;min-width:32px;}
        }
        &__desc {
            &-title {font-size: 1.4rem;line-height: 1.7rem;font-weight: 500;margin-bottom: 8px;}
            &-info {font-size: 1.4rem;line-height: 2rem;}
        }
        &__terms {flex-direction: column;padding-top: 0;}
        &__head {margin: 0 0 30px 0;width: auto;}
        &__line {width: auto;}
        &--slider {
            .privilege {
                &__row {flex-direction:row;margin: 0 -15px;
                    .slick-list {padding:0 15px;}
                }
                &__item {width:272px;padding:30px;border:1px solid #f4f4f6;display: block;margin:0 8px;}
                &__ico {width: 64px;height: 64px;margin-bottom: 30px;margin-right: 0;
                    svg {width: 64px;height: 64px;}
                    img {width: 64px;height: 64px;object-fit:contain;}
                }
                &__desc {
                    &-title {font-weight: 700;}
                }
            }
        }
    }
    .top-section {
        &__row {flex-direction:column;padding:30px 0;}
        &__left {margin-right: 0;}
        &__right {width: 100%;}
        &__title {font-size: 1.8rem;line-height: 2.5rem;margin-bottom: 20px;}
        &__desc {font-size: 1.4rem;line-height: 2rem;padding: 0;}
        &__search {display: none;}
    }
    .atm-filter {
        &__checkbox {width: 100%;}
    }
    .city {
        &__col {width:calc(50% - 30px)}
        &__title {font-size: 2.4rem;line-height: 2.9rem;margin-bottom: 20px;}
        &__head {flex-direction:column;padding-bottom: 30px;padding-top: 15px;align-items: stretch;}
    }
    .documents {margin-top: -20px;
        &__row {flex-direction:column;}
        &__aside {width: 100%;margin-right: 0;padding:20px 25px 15px 20px;background-color: #F4F4F6;margin-bottom: 60px;}
        &__nav {
            &-item {font-size: 1.4rem;line-height: 2rem;}
        }
        &__title {font-size: 1.4rem;line-height: 2rem;margin-bottom: 30px;}
        &__right {max-width:none;}
        &__list {padding-bottom: 0;border-bottom: none;margin-bottom: 40px;
            &-item {font-size: 1.4rem;line-height: 2rem;}
        }
    }
    .partners {
        &__content {width: calc(100vw - 30px);z-index: 3;pointer-events:none;border:1px solid #ececec;}
        &__item {
            &:nth-child(even) {
                .partners {
                    &__content {left: auto;}
                }
            }
        }
        &__item {
            &.active {
                .partners {
                    &__content {pointer-events:all;}
                }
            }
        }
    }
    .form {
        &__row {
            .popup {
                &__field {width: 100%;margin-bottom: 20px;}
            }
        }
    }
    .advan-banner {
        &__inner {flex-direction: column-reverse;}
        &__title {font-size: 2.4rem;line-height: 2.9rem;margin-bottom: 30px;max-width: none;}
        &__img {max-width: none;
            img {width: 100%;height: auto;}
        }
        &__col {max-width: none;margin: 0;padding: 24px 15px 30px}
        .privilege__line {
            &-item {width: 100%;display: flex;align-items: flex-start;}
            &-text {margin-bottom: 0;}
            &-text {width: 40%;}
            &-desc {margin-top: 2px;width: 60%;}
        }
    }
    .in-city {
        &__row {flex-direction: column;border: none;}
        &__col {width: 100%;padding: 0;}
        &__map {width: 100%;padding: 0;margin-bottom: 30px;}
        &__title {margin-bottom: 16px;}
        &__desc {font-size: 1.4rem;line-height: 2rem;}
    }
    .credit-table {margin-right: -55px;
        &__row {flex-direction:column}
        &__col {width: 100%;padding-left: 12px;padding-right: 12px;
            &:first-child {width: 100%;padding-bottom: 0;}
        }
    }
    .tabs {
        &__content {
            .credit-table {font-size: 1.4rem;line-height: 2rem;}
        }
        &__link {display: none;}
    }
    .common_condition_block {align-items:center;font-size: 1.4rem;margin-top: 50px;text-align: center;}
    .common_condition_block div {margin-top: 10px;}
    .common_condition_block div:first-child {margin-top: 0;}
}

@media screen and (max-width:533px) {
    .services {
        &__inner {
            &:not(.services__slider) {
                .services {
                    &__item {width:100%;padding-top: 0;}
                    &__img {position: static;margin-bottom: 10px;}
                }
            }
        }
    }
    .popup {

    }
    .callback {
        &__title {text-align: center;margin-bottom: 8px;}
        &__subtitle {font-size: 1.4rem;line-height: 2rem;margin-bottom: 30px;text-align: center;}
        &__form {flex-direction:column;}
        &__input {margin-right: 0;margin-bottom: 21px;}
        &__btn {display: flex;
            .btn-custom {flex-grow:1;}
            .btn {flex-grow:1;text-align: center;justify-content:center;}
        }
    }
    .atm-filter {
        &__row {flex-direction:column-reverse;margin: 0;padding: 0;border:none;}
        &__right {display: flex;flex-direction:column-reverse;width: 250px;}
        &__left {display: flex;flex-direction:column-reverse;border-top: 1px solid #E6E6E6;padding-top: 20px;}
        &__partners {text-align: left;margin-bottom: 30px;}
        &__view {margin-bottom: 16px;}
        &__city {margin: 20px 0 40px;}
    }
    .view {margin-top: 0;
        &__list {
            &-col {min-width:calc(100% - 30px)!important;max-width:calc(100% - 30px)!important }
        }
    }
    .header {
        &__middle {max-width:none;left: 0;}
    }
    .page-banner {
        &__btn {display: flex;
            .btn-custom {flex-grow:1;}
        }
    }
}
@media screen and (max-width:480px) {
    .popup {
        &__auth {flex-direction:column;margin-top: 30px;
            .btn {text-align: center;justify-content:center;
                &:not(:first-child) {margin-top: 24px;}
            }
        }
    }
}
@media screen and (max-width:414px) {
    .popup {padding:50px 15px 30px}
    .hint {
        &__text {min-width:220px;}
    }
}
@media screen and (max-width:359px) {
    .city {
        &__item {width: 100%;}
    }
    .privilege {
        &__line {
            &-item {width: 100%;}
        }
    }
    .service-block {
        &__btn {flex-direction:column;
            .btn {
                &:not(:first-child) {margin-left: 0;margin-top: 20px;}
            }
        }
    }
}